[2015-01-20 15:11] KristinaTaylor opened #1 "Add a readme"

[2015-01-20 18:34] KristinaTaylor commented on #1
I've confirmed that there's a readme on the homepage.

[2015-01-20 18:34] #1 closed, assigned to KristinaTaylor

[2015-01-20 18:36] KristinaTaylor opened #3 "Initial Updates"
Renaming from Git to SI
Drop unneeded projects
Change GUIDs

[2015-01-20 18:37] KristinaTaylor opened #4 "Set up Builds"
Integrate with AppVeyor - make sure we have builds with build numbers that increment.

[2015-01-20 18:40] KristinaTaylor opened #5 "Merge code for sandbox status"
Must be able to:
- tell that a file system folder corresponds to a sandbox.
- ~~launch an Integrity sandbox view from a folder that corresponds to a sandbox.~~ moved to #32
- force the status on a folder to be updated.

~~View sandbox gesture should not be available on any folder that is not in a sandbox.~~ moved to #32

[2015-01-20 18:42] KristinaTaylor opened #6 "How should we handle l10n & i18n?"
Should we be using TortoiseGit's .po file format, or just use string tables?

[2015-01-22 15:38] KristinaTaylor opened #7 "Gather a list of needed icons"
We need a list of necessary icons, so that we can submit a request for them to be created.

For their context menu groups, TortoiseGit and TortoiseSVN both use a turtle, with a folder overlay. Because we'll be interacting with PTC Integrity, which uses sandboxes, we should use a tortoise with a PTC Integrity sandbox icon.

What other icons will we need, that can't be reused from the Tortoise ones?

[2015-01-22 16:41] gisraeli commented on #7
Off of the top of my head these are the actions we will have:
- ```
     Add (file / folder)
[code]
- ```
     Move (file / folder)
[code]
- ```
     Lock file
[code]
- ```
     Revert file (folder?)
[code]
- ```
     Resync file by CP
[code]
- ```
     Drop (top level) sandbox
[code]
- ```
     Launch sandbox view
[code]
- ```
     Launch local changes diff view
[code]
- ```
     Launch annotated

[2015-01-22 18:38] KristinaTaylor opened #8 "Create Sandbox"
The create Sandbox gesture is available on folders that are not a sandbox. We should use the "make files writeable" option when creating sandboxes from Windows Explorer, to make it easier for users to edit their files.

[2015-01-22 18:42] KristinaTaylor opened #9 "Sandbox folder operations"
We need to add support for drop, retarget, and resynchronize on sandboxes.

We need to find a way to clarify to the user what selection the operation will apply to.  If the user chooses to resynchronize on a folder that is inside a subproject, will they expect it to apply to the files in that folder, the files in the current folder, the files in that subproject, or the files in the top-level sandb

[2015-01-22 18:49] KristinaTaylor opened #10 "Connection Handling"
When the user first starts Windows, the client is typically not running.

When Windows first asks for status, the Integrity client will be automatically launched.

When Windows asks for status on a file, a connection will be required, and the Integrity client will attempt a connection, using the method defined by the client preferences (prompt or no prompt).

If the client fails to connect, the in

[2015-01-23 14:42] bleskows commented on #4
AppVeyor build configuration (and more) documentation for reference: http://www.appveyor.com/docs/build-configuration

[2015-01-23 21:28] bleskows commented on #4
How do we want the version format? Examples of things that could be done are 1.0.{build}-{branch}
which would give something like 1.0.123-master assuming we built the master branch.

[2015-01-23 21:29] KristinaTaylor commented on #4
I like 1.0.{build}-{branch}

From: Blaise Leskowsky [mailto:notifications@github.com]
Sent: January-23-15 4:28 PM
To: PTC-ALM/TortoiseSI
Cc: Taylor, Kristina
Subject: Re: [TortoiseSI] Set up Builds (#4)

How do we want the version format? Examples of things that could be done are 1.0.{build}-{branch}
which would give something like 1.0.123-master assuming we built the master branch.

—
Reply to th

[2015-01-26 19:51] gisraeli commented on #4
build is broken: Error parsing appveyor.yml: (Lin: 17, Col: 6, Chr: 463) - (Lin: 18, Col: 0, Chr: 470): While scanning a plain scalar, find a tab character that violate intendation.

[2015-01-27 18:05] KristinaTaylor opened #14 "Automatically generate build numbers for the artifacts"
Gilad thinks there's a header and an installer file which need to be modified in order to make this happen.

[2015-01-27 18:09] KristinaTaylor opened #15 "Where do results of builds go?"
Are they available to anyone outside of the AppVeyor account being used?

The expectation is that at least the TortoiseSI team would be able to get access. There is no requirement that the builds be hidden from public access.

[2015-01-27 18:39] KristinaTaylor opened #16 "Files in a controlled directory have icons indicating their status"
**Demonstrate that**
Files that correspond to members of a sandbox have an icon indicating that they are controlled. (checkmark)
Files that exist in a file system folder and are not yet members of a project have an icon indicating that they are new. (+)
Files that have been deleted from the project have an icon indicating that they have been dropped. (x)
Files that have changed locally or been mov

[2015-01-27 18:46] KristinaTaylor opened #17 "Handle mechanics around Windows File Properties pages"
We need to populate a properties page for singly selected files, with data from Integrity.

This should include:
Member Revision
Working Revision
Working CP ID
Lockers (Ideally: name, cp ID, exclusive vs non-exclusive)
Status (added, modified, renamed, moved, etc)
Sandbox/Subsandbox

Some of this information will already be available directly from the working file info command. Some may need to be

[2015-01-27 18:48] KristinaTaylor opened #18 "Files in a controlled directory have appropriate member operations available"
**Non-members have:** Add
**Members have:** Check Out, Drop, Lock, Resynchronize by Change Package
**Modified members have:** Check In, Revert

These should all use the wf execute command. Note that Resynchronize by Change Package on files should be updated to use wf execute once it's been fixed in Integrity 10.7.

[2015-01-27 20:15] bleskows commented on #15
We'll need to configure appveyor.yml to specify how artifacts are packaged (i.e. tell AppVeyor which files and folder should be uploaded to AppVeyor cloud storage during the build, http://www.appveyor.com/docs/packaging-artifacts for reference).

Ideally, we would also like these artifacts deployed to a remote FTP location (http://www.appveyor.com/docs/deployment/ftp for reference)

[2015-01-27 21:10] bleskows commented on #14
The AppVeyor Rest API (http://www.appveyor.com/docs/api) could be used to get project last build.

Gilad's suggestion: call the API via a Powershell script before build and generate the files with the appropriate version

[2015-01-28 16:12] gisraeli opened #19 "Update images in the installer"
The installer still has Tortoise git images, this will need to be updated. All the these resources are located in <repo root>/src/TortoiseSISetup/include/

[2015-01-28 21:47] bleskows commented on #14
Actually, even easier way of doing it. We have access to the build number through the AppVeyor build process environment variables. We can have a PS script that will modify the appropriate files after cloning and just before the build process.

[2015-01-29 18:05] KristinaTaylor commented on #3
Reviewed at end of Sprint1

[2015-01-29 18:05] #3 closed, assigned to gisraeli

[2015-01-29 18:36] KristinaTaylor opened #22 "Take a look at "doc" directory for usefulness"

[2015-01-29 19:20] gisraeli opened #23 "Further cleaning up of Tortoise content"
To be done soon, or posted as it's own issue:
- ~~figure out whether the installer warnings about " duplicate sequence number" are a concern~~ done in pull request #29
- ~~make CrashReporter do something or get rid of it~~ done in pull request #29
- what does the "class ids" comment in Guids.h refer to? -->?asnwered: these where the tortoise SVN class ids
- ~~remove unneeded code from ShellCache~~

[2015-01-29 21:40] bleskows commented on #4
Currently we can get Win32 to build using AppVeyor's "unstable" os configuration which has Visual Studio 2013 CE and the correct ATL version. Previous versions of VS did not bundle this and WinDDK had too old a version of ATL. This os configuration is marked as unstable since the VM is very new (added by AppVeyor about 2 weeks ago). It should become stable soon, so we will need to monitor when tha

[2015-01-30 19:16] bleskows opened #26 "Make AppVeyor failure notifications/emails more meaningful"

[2015-01-30 19:18] KristinaTaylor commented on #26
Build issue. Assigning to Blaise.

[2015-02-02 15:05] bleskows commented on #15
Code changes in pull request #25 for issue #14

[2015-02-02 15:33] bleskows commented on #26
@KristinaTaylor
Do you have any suggestions for any rules we could try to enforce on this? For example, the current setup is to email everyone on the list whenever a build kicks off. I can look into setting up rules such as: only email committer. For something more complicated, I would have to do a bit more research since the AppVeyor docs seem rather limited in terms of email notification setup.

[2015-02-02 15:38] KristinaTaylor commented on #26
I can see a few different use cases for these emails, and I don't know how configurable it is, so none of these are strict requirements - do what can be done, really:
1. Add a link to the build artifact, if the build passed.
2. Add a link to the build log, if the build failed.
3. Add information about which branch or pull request got built.

Nice to have:
4. Only send failure & success notificatio

[2015-02-02 15:41] bleskows commented on #26
The email formatting (1-3) seems most important so I'll work on that. I'll see if I can provide a solution for 4 and 5.

[2015-02-02 16:19] KristinaTaylor commented on #15
The latest build can be found here: http://ci.appveyor.com/project/PTC-ALM/tortoisesi

I just chatted with Gilad and Blaise, and going forward, we should ensure that we only "verify" issues that have already been merged into "master".

@bleskowskyPTC can you identify how someone can tell, from the [build history](http://ci.appveyor.com/project/PTC-ALM/tortoisesi/history), which ones are builds of

[2015-02-02 16:46] bleskows commented on #15
![pullrequestvsmergedchanges](https://cloud.githubusercontent.com/assets/10633761/6004339/15ac224c-aad0-11e4-8bf4-7d79106ac600.png)

Refer to above screenshot. If you look at the build history, builds like the ones I have highlighted in red have a pull request associated with them. These are not yet merged into the remote master (i.e. PTC-ALM/TortoiseSI master).

Notice that the one marked in gree

[2015-02-02 19:33] bleskows commented on #15
We have modified the AppVeyor configuration to be built on PTC-ALM credentials. Code changes for this are in Pull Request #27

[2015-02-02 19:57] bleskows commented on #26
In PR #27, the current (default) email template provides a link to the AppVeyor build page.
As per Kristina's comments, I feel that the basic template satisfies the requirements:
1. Add a link to the build artifact, if the build passed. _Email indicates complete/fail and provides link to the AppVeyor build page where artifacts easily accessible_
2. Add a link to the build log, if the build failed.

[2015-02-02 20:01] KristinaTaylor commented on #26
Looks good, from my perspective. :+1:

[2015-02-03 15:11] kevinpwatson commented on #22
Most of the documentation is on Git and Git actions, but there are a couple sections that might be useful:
1. Introduction (installation, features, language packs)
2.1 Getting Started (icons, context menus, shortcuts)
2.6 Getting Status Information (icon overlays, status)
2.35 Settings (not sure if this will be part of TortoiseSI or what settings there would be)

Also, we might want to keep the sa

[2015-02-03 15:39] sharonzhao commented on #4
Verified using build 1.0.8.0.:
- Automated builds are running on PTC-ALM credentials.
- Build numbers are of the correct format and incremented.

[2015-02-03 15:42] sharonzhao commented on #4
Verified using build 1.0.8.0.

[2015-02-03 16:24] sharonzhao commented on #14
Verified with build 1.0.43.0 that the version number for the installer matches the AppVeyor build number.

[2015-02-03 18:22] KristinaTaylor opened #30 "Provide ability for a user to submit changes"
This issue will be split into multiple issues.

![submitcpmockup](https://cloud.githubusercontent.com/assets/10520385/6026300/a69ba3e0-aba7-11e4-898d-3b661fea00f4.png)

Change description would apply to the Change Package description, and each member/file operation would cause the existing Integrity Client dialogs to appear when user input is needed.

If the administrator has configured templates,

[2015-02-03 18:45] KristinaTaylor commented on #9
Note that Resynchronize Entire Sandbox, Drop Sandbox, and Retarget Sandbox should be available regardless of where in the sandbox directory hierarchy the user is, and for single selection only.

## Resynchronize by Change Package

This will allow multi-select, but only on controlled files or folders.
**File Selection:** can only resynchronize by cp
**Folder selection:** Resynchronize all files in

[2015-02-03 18:58] KristinaTaylor opened #31 "Allow TortoiseSI user to add things to Integrity Client preferences for non-members exclude file filter"
TortoiseSI should expose a gesture to "ignore" (exclude) a file (filename.txt) or a pattern (*.txt). Update internally, don't pop the dialog.

TortoiseGit has a "delete and ignore." We shouldn't do this, because Integrity doesn't follow that pattern, it only applies on new adds.

[2015-02-03 20:46] sharonzhao commented on #26
Verified with build 1.0.8.0:
- Email notification sent to all relevant users.
- Complete build is indicated in the email with a link to the AppVeyor build page where artifacts easily accessible.
- Information about which branch or pull request got build is added. AppVeyor build page displays the information.

[2015-02-03 20:50] sharonzhao commented on #26
Need an unsuccessful build to verify email notification, link, and build log of the failed build.

[2015-02-03 20:56] bleskows commented on #26
I think the only way to verify this (short of checking in code to the master to break the build) would be to look at the results of a  failed build from a pull request, since it doesn't really matter whether the notification is for a master build or a PR build, just so long as it is sent. As of right now we don't have any PR fails to verify on.

[2015-02-04 14:17] gisraeli commented on #31
We still want to use the menus they auto generate for ignoring the file, ie for a foo.txt they auto generate foo.txt and *.txt options

[2015-02-04 16:07] gisraeli opened #32 "Create and View sandboxes"
- view a sandbox for a folder that has a sandbox. Option should only be available for folders with sandboxes
- create sandbox for folder that does not yet have a top level sandbox

[2015-02-04 16:09] gisraeli commented on #5
code for this was merged into master in pull requests #28 and #29

[2015-02-04 16:10] gisraeli commented on #5
can be verified in build 1.0.8.0 or newer

[2015-02-04 16:14] gisraeli commented on #5
Make sure that any folder inside a sanbdox has a green checkmark. make sure that if you have a folder open and you drop the sandbox (or create a new one) then the greencheck marks go away or become visible (depending on your action) after you press F5.

[2015-02-04 18:54] gisraeli opened #33 "Make sure installer allows upgrades"
If you have version 1.0.X.0 of the integration
- make sure that 1.0.(X+1).0 can be installed (it should automatically uninstall 1.0.X.0)
- trying to install 1.0.X.0 asks you Modify, Repair or Remove installation?
- trying to install 1.0.(X-1).0 is not allowed (tells you that a newer version is already installed)

[2015-02-04 18:56] gisraeli commented on #32
can be tested with 1.0.7.0, 1.0.8.0, 1.0.9.0

[2015-02-04 19:02] KristinaTaylor commented on #8
This is being handled in #32 . I will move this content there.

[2015-02-04 19:02] #8 closed, assigned to nobody

[2015-02-04 19:03] KristinaTaylor commented on #32
We should use the "make files writeable" option when creating sandboxes from Windows Explorer, to make it easier for users to edit their files.

[2015-02-04 19:04] KristinaTaylor commented on #32
@gisraeli could you add a note here that says which pull request has the code for this?

[2015-02-04 19:06] gisraeli commented on #33
can be tested with 1.0.7.0, 1.0.8.0, 1.0.9.0

[2015-02-04 20:09] sharonzhao commented on #33
Tested the installer with build 1.0.8.0 and 1.0.9.0 (1.0.8.0 was installed before the following testing was performed):
- Installing 1.0.8.0 again - the installer asked to select one of the operations: Modify, Repair, or Remove installation.
- Installing 1.0.9.0 - the installer was successfully installed, and the old installer (version 1.0.8.0) was automatically uninstalled.
- Installing 1.0.8.0 a

[2015-02-04 22:29] sharonzhao commented on #15
Verified with the latest build 1.0.9.0:
Here the build goes: https://ci.appveyor.com/project/PTC-ALM/tortoisesi

[2015-02-05 15:24] sharonzhao commented on #5
Tested using build 1.0.9.0 - folder inside a sandbox didn't show the status (a green checkmark).

[2015-02-05 15:25] gisraeli commented on #5
seems to be a stub dll loading issue

[2015-02-05 16:30] #15 closed, assigned to bleskowskyPTC

[2015-02-05 16:31] #14 closed, assigned to bleskowskyPTC

[2015-02-05 16:36] #33 closed, assigned to nobody

[2015-02-05 16:38] #26 closed, assigned to bleskowskyPTC

[2015-02-05 16:38] #4 closed, assigned to bleskowskyPTC

[2015-02-05 16:44] #22 closed, assigned to kevinpwatson

[2015-02-05 18:21] KristinaTaylor commented on #10
We need to make sure we appropriately document the experience when a user is connected to multiple servers. That is, the user would need to do one of the following, before they can expect their statuses to be kept up to date:
- explicitly connect to each SI server that they care about (have sandboxes for)
- store connection preferences for each SI server
- launch a TortoiseSI "view sandbox" gestur

[2015-02-05 18:35] KristinaTaylor opened #35 "Member files have appropriate view operations"
Single selection member files only have:
View History
View Annotated Revision
View Member Differences
View Member Information

These should all use the wf execute command.

[2015-02-05 18:39] KristinaTaylor opened #36 "Columns in Windows Explorer details view"
For the content available in the file properties page (in #17 ), it should be possible to add this content as additional columns in the details view in windows explorer.

[2015-02-05 19:01] KristinaTaylor commented on #30
Steps towards implementing this (will be split into separate issues):
- ~~Provide drop down of open change packages & Submit CP & Cancel buttons~~ (#75)
- ~~Results of wf changes command displayed in a table (list of modified files), grouped by change package, sortable within the grouping, and includes status & extension columns~~
- ~~Add warning icon & view CP button~~
- ~~Add create CP button.~~

[2015-02-05 19:40] gisraeli commented on #5
fixed in pull request #37

[2015-02-05 20:03] gisraeli commented on #5
can be tested using [build 1.0.11.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.11.0/job/gy71x3ioi86q3065/artifacts)

[2015-02-06 04:18] sharonzhao commented on #5
Tested the sandbox status with build 1.0.11.0.
Steps:
- Have a folder inside a sandbox
- Install the installer from the latest build (1.0.11.0)
- Reboot the machine
- Reopen windows explorer
- Go to the folder that is inside the sandbox
  Result:
  The folder and the sandbox had a green checkmark on it.

Also verified that the following features:
- Dropping the sandbox that created from the above

[2015-02-06 04:31] sharonzhao commented on #5
Need to post a new issue to fix the machine need to be restarted problem.
After the installer is installed, the sandbox and the folder inside it should show the green checkmark without restart of the machine. It is the same problem as when dropping the sandbox. The green checkmark should disappear without restart of the machine.

[2015-02-06 23:21] gisraeli commented on #32
The "make files writeable" is a global / project policy not a sandbox option...

[2015-02-06 23:28] gisraeli commented on #32
Question: when preventing the user from creating a sandbox in a folder that has descendant folder that are sandboxes I wasn't sure if it would be a good idea to just hide the menu item (since it may not be obvious to the user why this is not visible, instead I decided to enable it, and if they select this menu item show an error listing the existing sandbox locations.

(This does not apply to tryi

[2015-02-06 23:34] gisraeli commented on #5
The restart issue should be fixed in pull request #38

[2015-02-07 00:12] gisraeli commented on #32
This can be verified with build [1.0.13.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/job/jb5xo20s9112h6yd/artifacts)

[2015-02-07 00:13] gisraeli commented on #5
The restart issue should be fixed in build [1.0.13.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/job/jb5xo20s9112h6yd/artifacts)

[2015-02-09 13:37] gisraeli commented on #32
Things to verify:
- both options only available:
  - when a single folder is selected
  - when there is no selection (just clicking on the background of a folder)
  - not available when selecting multiple item (files, folders, etc)
- view sandbox available (and opens the appropriate sandbox view) if either the selected folder the current path / window has a sandbox
- create sandbox available (and

[2015-02-09 16:38] KristinaTaylor opened #39 "Add registry key to enable api logging"
Split from #23.
TortoiseSI needs a registry key pattern that will enable Integrity API logging. If the value of this key is foo.log, the actual log should be placed in foo.<pid>.log.  Also, relative paths should be ignored.

For this issue to be closed, the new key must be documented on the wiki [here](https://github.com/PTC-ALM/TortoiseSI/wiki/Registry-Keys-Used-by-TortoiseSI).

[2015-02-09 16:42] KristinaTaylor opened #40 "Update TortoiseSI's version of the C API with the "no logging" changes"
Split from #23
Given that TortoiseSI integrates with explorer.exe, the working directory could be anywhere, a change was made in Integrity 10.7 that allows an integration to tell the C API not to drop log files in the integration's working directory. This has been done, so TortoiseSI needs to pick up a new version of the API.

[2015-02-09 16:44] KristinaTaylor opened #41 "If no Integrity client can be found, fail gracefully"
Split from #23.
The Integration needs to gracefully handle the situation where there is no Integrity client found in the PATH:

Integration could pop up a dialog (or system tray notification) to inform the user that they need an Integrity client installed, in order to use TortoiseSI. At this time, it would set a registry key to prevent this from appearing again. This registry key would be cleared

[2015-02-09 16:50] KristinaTaylor opened #42 "Clarify the types of File System locations that won't be covered by TortoiseSI"
From issue #23 : "is the PathIsDirectoryW too expensive to be done from CShellExt::IsMemberOf_Wrap?"

We need to implement changes to prevent TortoiseSI from being enabled in certain types of file system locations.
This will include:
- network drives
- removable drives

[2015-02-09 20:00] sharonzhao opened #43 "Newly created folders that are not inside a sandbox should not show status (green checkmark)."
I had a folder (0209s4) which is not a sandbox. I created a couple of folders (f1, f2, f3, f4, f5, f6, f7, f8, f9) inside it, and some of them (f1, f2, f3, f4, f5) are sandboxes. Green checkmark show on folders which are sandboxes. Then I created more folders f10, f11, f12, They are not sandboxes, but green checkmark show on these folders.

Below is the output of wf folders:
C:\Integrity\Integrity

[2015-02-09 20:18] sharonzhao commented on #43
![newly created folders show green checkmark](https://cloud.githubusercontent.com/assets/10675313/6114836/db008c4c-b06e-11e4-940b-305354b26336.jpg)

[2015-02-09 22:33] sharonzhao commented on #32
Verified the following functionalities with build 1.0.13.0:
- Create Sandbox option is available from the right click menu when:
  1. A single folder is selected.
  2. There is no selection (just right clicking on the background of a folder)
- View Sandbox option is available from the right click menu when a single folder is selected.
- Neither the Create Sandbox nor the View Sandbox option is ava

[2015-02-09 22:45] sharonzhao opened #44 "Scroll bar is missing on the error dialog"
When sandbox cannot be created, user gets error message in a dialog. There is no scroll bar even when there are many entries in the dialog.
![scroll bar on the error dialog does not show up even when there are too many entries](https://cloud.githubusercontent.com/assets/10675313/6117575/794222da-b083-11e4-8fab-0959b1e4411a.jpg)

[2015-02-09 22:48] sharonzhao commented on #32
Found two bugs when using build 1.0.13.0 to test create and view sandboxes. Posted issue #43 and #44.

[2015-02-09 23:15] sharonzhao commented on #5
Tested with build 1.0.13.0:
I had a folder open, and when I dropped the sandbox, the green checkmark disappeared after pressing F5. No longer need to restart the machine.

[2015-02-10 12:49] #32 closed, assigned to gisraeli

[2015-02-10 12:50] #5 closed, assigned to gisraeli

[2015-02-10 13:31] KristinaTaylor commented on #44
This also needs a spellcheck: "becase" -> "because"

[2015-02-10 18:20] KristinaTaylor opened #45 "Create a project page for TortoiseSI"
We need to create a GitHub Project page for TortoiseSI. This project page should include an appropriate location to check in HTML content for the user documentation.

[2015-02-10 21:13] gisraeli commented on #44
I thought that there was a scroll bar that came with MessageBox or MessageBoxEx. If not we should just truncate the list at some reasonable number.

[2015-02-10 21:15] gisraeli commented on #43
As Kristina pointed out this basically a sub string bug. See RootFolderCache::isPathControlled

[2015-02-10 21:17] gisraeli commented on #40
I can't quite remember which build of Integrity @bleskowskyPTC 's changes went into but the API lib and headers any build after that will do.

[2015-02-10 21:18] gisraeli commented on #40
in this repository the Integrity API lives under /ext/Integrity

[2015-02-10 21:20] bleskows commented on #40
I think anything after Integrity Build 7805 should be fine.

[2015-02-11 17:17] gisraeli commented on #42
The only types of drives that TortoiseSI will show status on is fixed local dirves. Other drives like ram drives, CD roms, floppy drives, network shares, remote drives, etc will not have any status or menu options available

[2015-02-11 17:18] gisraeli commented on #42
this is implemented in pull request #46

[2015-02-12 14:35] bleskows commented on #42
Verified with build 1.0.20.0:
- TortoiseSI->Create sandbox is available in a fixed local drive. Shows status on a sandbox in a local fixed drive.
- TortoiseSI->Create sandbox is not available when right-clicking DVD drive.
- TortoiseSI->Create sandbox is not available in a network drive (i.e. shared folder).

[2015-02-12 15:59] kevinpwatson commented on #45
For creating GitHub Pages there are two options:

**Automatic Page Generator**
- Found in the repository Settings, so need to be an Owner or Admin to access it.
- Allows the editing of the content area of one page (home page) through a web browser and GitHub Markdown.
- Can pick from some pre-made themes/templates.
- Can clone the repository ("gh-pages" branch) to make changes to files or add file

[2015-02-12 18:04] KristinaTaylor commented on #42
Flagged with needs verification so that test cases can be added to the TortoiseSI regression testing suite.

[2015-02-12 18:48] KristinaTaylor opened #49 "Investigate whether we should start from TortoiseGit Commit dialog code or roll our own"

[2015-02-13 14:22] gisraeli commented on #43
can be verified with build [1.0.30.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.30.0)

[2015-02-17 18:50] bleskows commented on #42
Added two test cases to the test suite.

[2015-02-18 21:27] flemingg commented on #40
OK going to add libs, etc. from build 7852

[2015-02-19 16:53] KristinaTaylor commented on #42
Reviewed & closed.

[2015-02-19 16:53] #42 closed, assigned to bleskowskyPTC

[2015-02-19 16:57] KristinaTaylor commented on #40
Closing during sprint review as a "build" task. Verified in Integrity 10.7.

[2015-02-19 16:57] #40 closed, assigned to flemingg

[2015-02-19 17:05] KristinaTaylor commented on #45
Reviewed in Sprint review - starting point looks great!

[2015-02-19 17:05] #45 closed, assigned to kevinpwatson

[2015-02-19 17:45] sharonzhao commented on #44
Verified with build 1.0.36.0:
The error dialog shows a maximum sandbox paths when there are many entries in the dialog:
![error dialog shows a maximum sandbox paths](https://cloud.githubusercontent.com/assets/10675313/6272385/24f35528-b835-11e4-8f96-e7789a9b7de6.jpg)

[2015-02-19 17:47] sharonzhao commented on #44
The typo "becase" has also been fixed. Now it's "because".

[2015-02-19 17:59] sharonzhao opened #54 "Error when creating sandbox"
Found this bug in our sprint review.
Right click menu -> Create Sandbox gets the error:
![error creating sandbox](https://cloud.githubusercontent.com/assets/10675313/6272638/3184eebc-b837-11e4-9049-0943c671450a.jpg)

[2015-02-19 18:37] KristinaTaylor commented on #6
Should languages be bundled in the TortoiseSI MSI installer, or be installable separately?
If the languages can be installed separately, the languages can be added as they become available.

PO>RC vs RC by hand?
PO makes it easier for non-developers to contribute languages.

Issues to split this into:
1) Build task to put the languages subfolder back into the build & generate MSIs for language pac

[2015-02-19 18:37] #6 closed, assigned to nobody

[2015-02-19 18:53] KristinaTaylor commented on #41
Handle scenario when there is no client in the PATH:
Integration pops a dialog (or system tray notification) to inform the user that they need an integrity client in order to use TortoiseSI. Registry key gets set to prevent this from appearing again. This registry key could be cleared if we find the client again. Registry key needs a mutex to protect it.

[2015-02-19 19:40] flemingg commented on #54
Fix is in pull request #55

[2015-02-19 19:51] gisraeli opened #56 "Performance test the RootFolderCache"
Items in the RootFolderCache are currently searched linearly. Is this sufficient if we have a lot of top-level sandboxes (root folders)?

We should run some scalability tests, and if this is not performant, we could sort the list and do a binary search or store this in some sort of tree structure for fast lookups.

[2015-02-19 20:07] gisraeli opened #57 "Remove Wix custom UI"
Investigate whether WixUI_Simplest.wxs is being used in either the TortoiseSI installer or the language pack installers, and if not, drop the file.  Blaise has already done further investigation into the other files in this area, and this looks like the only one that is unnecessary.

[2015-02-20 02:53] KristinaTaylor opened #58 "Configure AppVeyor to produce languages installer artifacts"
This is a "build" activity. It involves adding the languages project to the visual studio solution, as well as making sure that AppVeyor is hooked up correctly to produce the installer artifacts. We should be producing MSIs, not MSMs.

The only verification would be to check that the artifacts are being produced.

[2015-02-20 02:54] KristinaTaylor opened #59 "Configure VS project to build language pack installers. Make multiple languages testable"
Make it possible for TortoiseSI to pick up the language from the host executable process for our DLL, and attempt to use the right resource DLL to pick up the appropriate language. Add a sample language, and figure out how to switch the locale easily for testing purposes. Test with missing translations (resource strings). Should fall back to English for any missing translations.

[2015-02-20 14:05] KristinaTaylor commented on #44
Reviewed during sprint review - @sharonzhao has confirmed that test cases have been added to the appropriate test suite.

[2015-02-20 14:05] #44 closed, assigned to flemingg

[2015-02-20 14:05] KristinaTaylor commented on #43
Reviewed during sprint review. Test cases have been added.

[2015-02-20 14:05] #43 closed, assigned to atusek

[2015-02-20 16:36] bleskows commented on #16
@KristinaTaylor, would like some feedback on this. The current implementation of icon drawing presumes that the versioned and modified icons are always available in the event that we need to fall back to another overlay if the primary one was not available/loaded. This seems like a good assumption to make and we should continue on this premise, therefore this table suggests the finalized overlay h

[2015-02-20 16:38] gisraeli commented on #16
I don't know if incoming should be conflict or if it should only have that icon if it is modified and incoming

[2015-02-20 18:08] KristinaTaylor commented on #16
I like what @bleskowskyPTC has laid out here. The ! in yellow triangle indicates that the user needs to do something before they can reliably work on this file, so I think the incoming/merge needed are good.

The secondary overlays are good too - no action needed, versus action needed.

[2015-02-20 18:12] KristinaTaylor commented on #23
All issues have been addressed or moved to other issues.

[2015-02-20 18:12] #23 closed, assigned to gisraeli

[2015-02-20 18:12] bleskows commented on #16
I will make sure that the logic follows this then. It's mostly there, just need to add appropriately to the states we added more recently

[2015-02-20 18:36] sharonzhao commented on #54
Still getting the same error in build 1.0.38.0.

[2015-02-20 18:47] bleskows commented on #16
@gisraeli made the point (and I agree) that we don't need an explicit gesture to update file statuses since this can be done by hitting F5

[2015-02-20 19:13] KristinaTaylor commented on #16
:+1:

[2015-02-20 21:17] bleskows commented on #16
This has been merged and can be verified using build [1.0.41.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.41.0) or later. See overlay table above.

[2015-02-20 21:21] bleskows commented on #16
Note, @atusek and @flemingg, you might want to see pull and merge this one into your dev branches if you've been having issues with unordered sequence exceptions while debugging.

[2015-02-23 13:41] bleskows commented on #16
Some testing notes: It may be possible when you are verifying this that you see the secondary overlays rather than the primaries. This is due to hitting the cache limit for overlays (not as likely to happen on a fresh VM) and can be fixed by removing non-Tortoise overlay identifiers (ones that don't have "Tortoise" in the key name) from the following registry location: HKLM/Software/Microsoft/Wind

[2015-02-23 16:09] gisraeli commented on #16
This should either be tested in a clean VM or in by cleaning the registry as Blaise notes

[2015-02-23 19:55] gisraeli commented on #10
1. start the machine with no client / no connection => go to a folder with a sandbox in explorer & open it so you see the sandbox files
   -- connect to server and you should see the correct icons in the folder on the files
   -- try both with prompting on a off
2. try number 1 but press cancel on the connection dialog => there should be no icons
   -- connected the client manually => via the gui

[2015-02-23 19:55] gisraeli commented on #10
Also see both of Kristina's comments

[2015-02-23 20:00] atusek commented on #9
The resync operation will only allow multi select on files. Resync operation will not be available if multi select includes a folder.

[2015-02-24 14:07] bleskows commented on #16
Just to follow process, can someone add the "needs verification" flag fir this issue?

[2015-02-24 15:53] atusek commented on #54
Verified with the following steps:

![createsandbox1](https://cloud.githubusercontent.com/assets/6186615/6352759/081031ec-bc13-11e4-9c27-2ecc8915fc01.jpg)

Create sandbox wizard invoked and sandbox created:

![createsandboxwizard1](https://cloud.githubusercontent.com/assets/6186615/6352773/1eee7996-bc13-11e4-8e75-c041e26173a5.jpg)

Additional folder created:

![newfoldercreatesandbox](https://clou

[2015-02-24 16:09] gisraeli commented on #54
@atusek  which build did you verify with?

[2015-02-24 16:13] gisraeli commented on #9
I'll verify this one

[2015-02-24 16:20] flemingg commented on #49
Is there someone that can translate this dialog for me?
![image](https://cloud.githubusercontent.com/assets/7550325/6353386/0a8ac73a-bc17-11e4-95a1-d05f1cc350bd.png)

[2015-02-24 16:21] bleskows commented on #49
Unless someone remembers/ was taking notes from the grooming session we had a while back, Sharon would be our resident translator.

[2015-02-24 16:24] bleskows commented on #49
You might also want to take a look at #30. Kristina provided a mock-up here for a submit changes dialog (incidentally from that grooming session I mentioned before), trying to keep in mind huawei's use case

[2015-02-24 16:42] gisraeli commented on #9
while trying to drop, resync and entire a sandbox, or retarget it:

![image](https://cloud.githubusercontent.com/assets/10521380/6353928/36730080-bc1a-11e4-8c28-9f16b05666c9.png)

[2015-02-24 16:44] gisraeli commented on #9
with this setup:

![image](https://cloud.githubusercontent.com/assets/10521380/6353968/7765a836-bc1a-11e4-880a-dc2d463bb399.png)

[2015-02-24 18:04] KristinaTaylor commented on #49
@sharonzhao: any chance you could provide some translations for the content in this dialog? I know we reviewed in in one of our sessions, but we didn't write it down anywhere.

[2015-02-24 18:17] KristinaTaylor commented on #56
To test this:
Create a large number (1000?) of top level sandboxes, and verify that launching and closing and navigating in Explorer windows (in list mode) that have lots of files & folders isn't significantly slower with TortoiseSI installed vs not installed.  Check with Dan about reasonable number of top level sandboxes to test this with.

[2015-02-24 18:17] KristinaTaylor commented on #36
The question here is: how much work needs to be done, here, after #17 is finished?

[2015-02-24 18:24] KristinaTaylor opened #65 "Menu Items need descriptions that are more than the menu action text"
Take a look at all existing menu items that have been added, and ensure that the menu items have descriptions, and icons (if appropriate).

[2015-02-24 19:18] bleskows commented on #31
I'll look at this. Could someone assign me?

[2015-02-24 19:22] gisraeli commented on #31
@bleskowskyPTC  done

[2015-02-24 19:33] atusek commented on #54
Above steps verified with build 1.0.51.0

[2015-02-25 04:19] sharonzhao commented on #49
See below the translation:

Submit Code
The Path of the Code: D:\Sandbox\MKS,                                                                                  Browse
Current Project:
Filter File: .txt, .null, .c, .cpp, .h, .ini, .bat, .properties, .xml, .java, .css, .js, .cs, .py, .vcproj, .inc,  Filter

Display non-versioned file
                                        File Type,

[2015-02-26 16:54] KristinaTaylor commented on #16
Found during sprint review:
modified locally should take precedence over incoming changes. As a result, red exclamantion mark should be used for marked for later merge, because it denotes further work that the user needs to do before submitting.

[2015-02-26 18:03] KristinaTaylor commented on #54
Reviewed & Verified.

[2015-02-26 18:03] #54 closed, assigned to flemingg

[2015-02-26 18:06] KristinaTaylor commented on #9
From Review session: Could we add the words "by Change Package" to the Resynchronize menu action.

[2015-02-26 18:07] KristinaTaylor commented on #10
From review session: Hitting F5 multiple times when offline appears to crash Explorer.

[2015-02-26 18:09] KristinaTaylor commented on #31
From Review: This should only apply to adds (non-members), not controlled files. Problem in fileinfo command.

[2015-02-26 18:14] KristinaTaylor commented on #58
The languages that Integrity currently supports include 2 Chinese variants, Japanese, and German. These installers should be kept around, since the English language will be the default.

[2015-02-26 18:21] KristinaTaylor commented on #59
@gisraeli says: see loadLangDLL

[2015-02-26 18:27] KristinaTaylor commented on #7
As we add file & folder operations, we will be assessing which icons from TortoiseGit/SVN can be applied to Integrity operations.

[2015-02-26 18:27] #7 closed, assigned to KristinaTaylor

[2015-02-26 18:38] KristinaTaylor commented on #39
Decision has been made to stick to the windows event log until something else is required. Everything that goes to the windows event log should be in the debug category, which is disabled by default.  Initial startup, such as DLL load and integration point creation, as well as crash logging, will go to the windows event log regardless of what level of logging is enabled.

[2015-02-26 18:38] #39 closed, assigned to nobody

[2015-02-26 19:10] gisraeli commented on #59
LoadLangDll is in ShellExt.cpp

[2015-02-27 02:16] bleskows commented on #16
Updated precedence matrix above to show that NeedsMerge case show red exclamation mark as primary (and only) overlay, since PR #69 merged

[2015-02-27 14:18] bleskows commented on #31
Submitted code for an Integrity defect that fixes the fileinfo command. Once that has been verified, the TortoiseSI integration can be re-verified as well. Anything later than [1.0.59.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.59.0) should do.

[2015-02-27 14:20] bleskows commented on #16
This can be verified in build [1.0.63.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.63.0) or later

[2015-02-27 14:26] bleskows commented on #58
I guess I can pick this one up, since I know most about how the AppVeyor CI build system works. Please assign to me.

[2015-03-02 18:49] bleskows commented on #31
Re-verify using Integrity Client 7870 or later and Tortoise SI build [1.0.59.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.59.0) or later

[2015-03-02 18:56] KristinaTaylor commented on #19
![bagckground](https://cloud.githubusercontent.com/assets/10520385/6447838/bfafba96-c0e3-11e4-819b-1666ac27fb08.png)
![banner](https://cloud.githubusercontent.com/assets/10520385/6447841/c9567f9e-c0e3-11e4-9515-65fc89bb4424.png)
![tortoise_16x](https://cloud.githubusercontent.com/assets/10520385/6447864/f187fe20-c0e3-11e4-87ef-edad2338abeb.png)
![tortoise_32x](https://cloud.githubusercontent.com/a

[2015-03-02 20:04] bleskows commented on #19
I have been having issues getting the Wix installer to use pngs (although from what I can tell, this file format _should_ be supported). Using pngs, they don't show up in the installer. Converted them to jpgs and they show up fine (sans some tweaking that will need to be done for text spacing). Thoughts @KristinaTaylor ?

[2015-03-02 20:39] bleskows commented on #19
![image](https://cloud.githubusercontent.com/assets/10633761/6449861/e727b188-c0f1-11e4-9d30-584502651553.png)
Note that I also will have to tweak some of the dialog descriptions (i.e. move them down) so that they don't overlap with the background (screen cap for reference). Not sure if I'm too thrilled with the new spacing though

[2015-03-02 21:22] KristinaTaylor commented on #19
JPGs are fine, from my perspective.

The contractor who provides the images requested screen caps of them in context, so I think we can have him tweak it if necessary. Could you get me one of the license agreement page, too?

[2015-03-02 21:41] sharonzhao commented on #16
Verified the primary overlay with build 1.0.64.0 in a fresh vm.
Files with the following status show the correct primary overlay (see the above overlay table):
locked, incoming, former member, modified, moved(defer), renamed(defer), drop, add, member.

The NeedsMerge file didn't show red exclamation mark, instead it shows the lock.

[2015-03-02 21:43] bleskows commented on #19
![image](https://cloud.githubusercontent.com/assets/10633761/6451249/48bc9900-c0fb-11e4-8f84-00f7d50facdd.png)
License agreement dialog

[2015-03-02 21:46] bleskows commented on #19
Do you think it's worthwhile for the contractor to tweak the banners? Those are the only ones that have the spacing issues. The background is fine:
![image](https://cloud.githubusercontent.com/assets/10633761/6451299/9c282e10-c0fb-11e4-9df3-c5b50fa3f206.png)

[2015-03-02 22:09] bleskows commented on #16
I think the issue with the NeedsMerge is that yes, it has a deferred merge, but the user also has a lock. Removing that lock should show red exclamation mark.

[2015-03-02 22:14] sharonzhao commented on #16
That’s right. Red exclamation mark shows after I removed the lock. I guess I can pass it then☺

From: Blaise Leskowsky [mailto:notifications@github.com]
Sent: March-02-15 5:10 PM
To: PTC-ALM/TortoiseSI
Cc: Zhao, Sharon
Subject: Re: [TortoiseSI] Files in a controlled directory have icons indicating their status (#16)

I think the issue with the NeedsMerge is that yes, it has a deferred merge, but t

[2015-03-02 22:26] sharonzhao commented on #16
After the lock was removed, the NeedsMerge shows red exclamation mark.

[2015-03-03 03:07] KristinaTaylor commented on #19
Here's the updated banner. I'll email it, too.
![banner](https://cloud.githubusercontent.com/assets/10520385/6455886/3e8430e2-c128-11e4-928d-a7477fc2704a.jpg)

He's also (quite rightly, I think) suggested rewording to be less awkward. How about we change this to "Choose an install location and features."

[2015-03-03 03:10] KristinaTaylor commented on #19
Also, how possible would it be to update the installer program's icon in the top left corner?

[2015-03-03 14:57] bleskows commented on #19
![image](https://cloud.githubusercontent.com/assets/10633761/6465286/2923a00a-c18e-11e4-9caa-b8dde5d89297.png)

These are the main dialogs that I am re-wording. I may shorten a few more that may have spacing issues as well, but it's not as easy to get screenshots of them as they don't follow the ideal installation progression. Feedback @KristinaTaylor ?

Also, regarding the icon in the top left, i

[2015-03-03 15:09] bleskows commented on #19
Regarding to icon in top left, did some quick research and I don't think it's possible to do this. Apparently Windows Installer doesn't allow us to change the msiexec icon. See the following [message exchange](http://sourceforge.net/p/wix/mailman/message/15231661/)

[2015-03-03 15:31] KristinaTaylor commented on #19
For the last one, I'd go for "Required Disk Space." Other than that, this looks great and I trust your judgement on the other ones. I may review the text resource bundles prior to release, but this looks much better.  Thanks!

[2015-03-03 16:36] sharonzhao commented on #65
All menu items have both descriptions and icons. Verified with build 7874.

[2015-03-03 19:02] bleskows commented on #19
What will we be doing for updating the EULA (since that's apparently part of this task)? Right now, there's an rtf file sitting under TortoiseSI\src\TortoiseSISetup\include with the TortoiseGit info.

[2015-03-03 19:15] KristinaTaylor commented on #19
I'm on an active thread with the legal department on that one. I'll let you know as soon as I have updated text. The one in there is copyrighted, so unless we leave the copyright in place, we need new text.

[2015-03-03 19:17] bleskows commented on #19
Should we leave that for a separate task, or should I just check in what I have now and keep the task open until we have a new EULA?

[2015-03-03 19:27] KristinaTaylor commented on #19
Check in what you have and leave the task open - I expect to have content in the next couple of days. If not, I'll split it out.

[2015-03-04 15:33] bleskows commented on #19
I merged in PR #70. This PR only added the images to source control and modified the installer (images and some dialog strings). The EULA will be updated in a separate pull request once we have it. I'll add the needs verification flag for now, so that we can at least do whatever level of testing is appropriate for this (sanity, and make sure the installer still works), but we'll likely keep this i

[2015-03-04 19:30] bleskows commented on #59
Changing title since the VS studio build work is being done with the necessary code changes.

[2015-03-04 19:32] bleskows commented on #58
Changing title since code changes will occur in issue #59. Work in this issue will be to configure AppVeyor appropriately.

[2015-03-04 20:14] sharonzhao commented on #9
Tested with build 1.0.64.0:
- Resynchronize by Change Package allows both single and multiple selection on files.It resynchronizes files by CP
- Resynchronize Entire Sandbox resynchronizes the sandbox from the top level
- Drop Sandbox drops the sandbox from the top level
- Retarget Sandbox retargets the sandbox at the top level
- Resynchronize Entire Sandbox, Drop Sandbox, and Retarget Sandbox is

[2015-03-04 20:30] bleskows commented on #10
Decided to just give this a try on my local environment and I can't reproduce it.
1. Start my environment, log in with a user just to see statuses (plus make the state machine kick in).
2. Disconnect active connection through the task bar.
3. Hit F5 multiple times in a folder with files that are under source control (have Integrity statuses).
Following the above, I have not been able to make explo

[2015-03-04 20:55] KristinaTaylor commented on #10
Maybe try it without the client running ahead of time?  And/or.. disconnect the client, then shut it down, then go hit F5 a few times or open a few windows.

[2015-03-04 22:40] sharonzhao commented on #31
Followed the following steps to verify, using Integrity Client 7874 and TortoiseSI build 1.0.64.0.
- Right click on a controlled file
- Go to Tortoise SI -> Add to exclude filter -> *.txt
- Add a text file (e.g. t1.txt) to the sandbox from windows explorer
- There's no status shown on the non-member file t1,txt
- Try to add t1.txt as a member to the sandbox in GUI
- Getting error: Some files from

[2015-03-05 14:33] KristinaTaylor opened #72 "Update icon in right-click context menu with src/TortoiseSISetup/include/tsvnmenufolder.ico"
Should probably also rename to tsimenufolder.ico.

[2015-03-05 14:34] KristinaTaylor commented on #72
Can we do anything on these ones, too?

![image](https://cloud.githubusercontent.com/assets/10520385/6506692/d3d96a38-c31a-11e4-9dd8-2cd65d4f4d94.png)

(I just double checked, and the icons in the screenshot above are the same in build 68).

[2015-03-05 14:50] bleskows commented on #72
Move tortoise.ico from src/TortoiseSISetup/include into src/Resources. We may also need a smaller version of this icon since the other menu icons are 12x12 or 16x16

[2015-03-05 15:11] KristinaTaylor commented on #72
tsvnmenufolder.ico is 16x16. I think we'd want to use this one for the menu, and tortoise.ico for the programs & features. If you need me to request a different size for tortoise.ico, let me know.

[2015-03-05 16:39] KristinaTaylor commented on #9
Demonstrated in Review.

[2015-03-05 16:39] #9 closed, assigned to atusek

[2015-03-05 16:45] KristinaTaylor commented on #16
Reviewed during sprint review.

[2015-03-05 16:45] #16 closed, assigned to bleskowskyPTC

[2015-03-05 16:46] KristinaTaylor commented on #65
Reviewed during sprint review.

[2015-03-05 16:46] #65 closed, assigned to atusek

[2015-03-05 17:10] sharonzhao commented on #31
Verified with build 1.0.72.0:
Now the Add to exclude filter option is available on the right click menu of non-members files.

[2015-03-05 17:55] flemingg commented on #49
Recommendations:
-Re-use TortoiseGitProc framework for launching custom dialogs (e.g. commit dialog).  This framework can be used anywhere we need to display a custom dialog that Integrity does not already have.
-Re-use the language framework for loading stand-alone language resource DLLs

Commit Dialog Re-Use:
The commit dialog makes use of a resizeable dialog library.  We can re-use this library

[2015-03-05 17:58] KristinaTaylor opened #74 "Update EULA text to reflect TortoiseSI"
As part of this task, we should also drop the old EULA, and any images that we are no longer using.

[2015-03-05 17:59] KristinaTaylor commented on #19
Split out the EULA task to task #74. This one can be closed when it is verified.

[2015-03-05 18:06] KristinaTaylor commented on #49
The question has been answered, and the work to implement the recommendations above will be posted as separate issues.

[2015-03-05 18:06] #49 closed, assigned to flemingg

[2015-03-05 18:07] KristinaTaylor commented on #31
Reviewed during sprint review.

[2015-03-05 18:07] #31 closed, assigned to bleskowskyPTC

[2015-03-05 18:40] KristinaTaylor opened #75 "Create initial submit CP dialog"
Should start with:
-drop down of open change packages
-submit CP button
-cancel button

In the drop down, the default selected CP should be the active CP from the Integrity Client.

[2015-03-05 20:12] bleskows commented on #57
Notes on the current structure based on my brief investigation:
- TortoiseSI.wxs - condition checks, sequencing of dialogs. Includes:
  - FeaturesFragment.wxi - available features for user to select on install
  - StructureFragment.wxi - lots of registry and icon overlay stuff
  - UIFragment.wxi - define resources and provide actual dialog layout.
- WixUI_Simplest.wxs - not really sure what functi

[2015-03-05 21:57] sharonzhao commented on #19
Verified with build 1.0.72.0:
Tortoise SI images are shown correctly and the strings look good in the setup wizard.

[2015-03-06 02:44] KristinaTaylor commented on #19
Reviewed during sprint review.

[2015-03-06 02:44] #19 closed, assigned to bleskowskyPTC

[2015-03-06 14:59] bleskows commented on #35
Note for when we verify. Use an client build of 7876 or later. This build contains a fix for a defect where wf execute threw an out of bounds error for single character options (i.e. -g).

[2015-03-06 14:59] bleskows commented on #18
Note for when we verify. Use a client build of 7876 or later. This build contains a fix for a defect where wf execute threw an out of bounds error for single character options (i.e. -g).

[2015-03-06 15:49] atusek commented on #59
@KristinaTaylor  Banners for the language pack installers are different from the application. I have used the general application banners for now, but they don't show up correctly in the installer. Can we get updated images?

![image](https://cloud.githubusercontent.com/assets/6186615/6528154/19480d26-c3ee-11e4-8e7a-ce4158d258a6.png)

Also, the TortoiseGIT image contains text indicating "Language

[2015-03-06 15:53] atusek commented on #59
@KristinaTaylor First screen of installer looks like this

![image](https://cloud.githubusercontent.com/assets/6186615/6528292/fcc472ec-c3ee-11e4-9c92-0cb96d16a580.png)

[2015-03-06 16:08] bleskows commented on #35
![image](https://cloud.githubusercontent.com/assets/10633761/6528590/f997e67e-c3f0-11e4-8c0f-9d5fb8fcf9bd.png)
@KristinaTaylor do you think the word "View" makes these commands too wordy? **Edit:** Although I guess this is what we do in the eclipse integration, so best to keep it consistent.

Also would you have any suggestions for icons for viewhistory and memberinfo?
TortoiseGit doesn't exactly

[2015-03-06 18:20] KristinaTaylor commented on #35
I think you've got the right choices here. You can drop the "View" if you add a separator that puts space between actions and views. I'm thinking we organize it similar to the git menu:

![gitmenu](https://cloud.githubusercontent.com/assets/10520385/6530992/6335641e-c403-11e4-8718-bb79b8a1364b.png)

Top is "resync" type of actions, next diff, then the views, then the actions, and near the bottom i

[2015-03-06 18:26] KristinaTaylor commented on #59
Could we edit the header in the banner of the installer for the language packs to at least have the text right aligned? Not sure if the text will fit in all languages, but we would have to get input from a speaker of each language in order to update it.

I'm ok with leaving the other one as a generic "TortoiseSI" image to close off this issue, but I'll see about getting an update with a subtitle o

[2015-03-06 19:01] bleskows commented on #35
![image](https://cloud.githubusercontent.com/assets/10633761/6531699/fb0a7c84-c408-11e4-8541-b06f0fafb40e.png)
So with the currently available actions, I can provide something like this. We'll try to follow the "resync" actions, diff, views, member actions + exclude structure for future issues (i.e. #18 )

[2015-03-06 19:05] KristinaTaylor commented on #35
:+1:

[2015-03-06 19:08] bleskows commented on #35
I will wait before creating a pull request on this one. In #59 , Andrej is making some changes to the rc files for the resource strings, and it's probably easier for me to merge in my changes after that is pushed to master than the other way around.

[2015-03-09 13:28] bleskows commented on #18
@KristinaTaylor are these all single selection?

[2015-03-09 15:32] bleskows commented on #35
Verify with build [1.0.83.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.83.0). Use client 7876 or later.

[2015-03-09 16:44] KristinaTaylor commented on #18
I think they should all be multi-select, but files only. The views were single select, but I can see why someone would want to be able to select a bunch and say "add."

[2015-03-09 18:06] sharonzhao commented on #58
Verified with build 1.0.84.0:
The following artifacts have been produced for both Win 32 and 64 bits
- TortoiseSI-LanguagePack-ja.msi
- TortoiseSI-LanguagePack-zh_TW.msi
- TortoiseSI-LanguagePack-zh_CN.msi
- TortoiseSI-LanguagePack-de.msi

[2015-03-09 18:53] bleskows commented on #18
@KristinaTaylor Here are my observations for multi-select behaviour for these operations investigating "what if there are invalid elements in a selection"?

Basically, I tested with running each command (through TortoiseSI) when there were one valid element and multiple invalid elements in the selection. Right now, these commands are enabled if there is at least one valid element in the selection.

[2015-03-09 19:15] KristinaTaylor commented on #18
Sounds good. Based on that behaviour, I don't think we necessarily even need to document the specifics of each case, either - just that it's enabled if it is a valid operation for any in the selection.

[2015-03-09 19:16] bleskows commented on #18
All right, I'll work with that then

[2015-03-09 19:54] sharonzhao commented on #72
Verified with build 1.0.85.0:
- The TortoiseSI icon in the right-click context menu has been updated.
- The TortoiseSI icon has been updated in the programs & features.

[2015-03-10 15:19] sharonzhao commented on #35
Verified using client build of 7887 and TortoiseSI build of 1.0.85.0.
The following view operations display on the right-click menu of a single member file:
- Member Differences
- Member History
- Annotated Revision
- Member Information

[2015-03-10 15:43] bleskows commented on #57
More investigation, I think the WixUI_Simplest.wxs was used for localizing extensions since it references a lot of loc variables. I suspect this must be a remnant of TortoiseSVN stuff since loc variables are normally defined in .wxl files which neither we nor TortoiseGit have in the solution. In fact, TortoiseGit has never done much work with this file from the commit history. In which case, I'll

[2015-03-10 20:13] bleskows commented on #18
I am probably going to add more changes to this task, specifically options for si add. @KristinaTaylor, need your feedback on this, Chris brought this up and it seems we should also be specifying
--createSubprojects and possibly --createSubprojectsForEmptyDorectories as well. Currently, I use neither options, so if you try to add a file in a folder, we'll get a folder in the project, and I believe

[2015-03-10 20:16] KristinaTaylor commented on #18
@bleskowskyPTC That's a good point. ~~Yes to createSubprojects, for sure.~~ (crossed out, per discussion at the coffee machine. ;) Follow the client preferences)

Because move also has a "createSubprojects" option, I'm reminded that we should also expose Move and Rename, here, since we don't really want to encourage use of the Windows actions, because Integrity will see the windows gestures as an

[2015-03-10 20:18] bleskows commented on #18
Should we add Move and Rename to the commands required for this issue to be completed?

[2015-03-10 20:18] KristinaTaylor commented on #18
Posted separately - #83

[2015-03-10 20:19] KristinaTaylor opened #83 "Add Move and Rename operations for controlled files"
Using the rename and move operations that are built into Windows will ultimately end up with Integrity recognizing the file as having been dropped and re-added. As a result, the integration needs to expose the Integrity Move and Rename actions. These commands both need to have the options set appropriately so that the working file gets moved or renamed correctly as part of the action.

Like add (s

[2015-03-11 14:26] bleskows commented on #57
Can be verified using build [1.0.93.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.93.0). Not sure what sort of verification should be required for this, maybe sanity pass to make sure I didn't break the TortoiseSI installer.

[2015-03-11 15:22] bleskows commented on #59
@atusek Just remembered, don't forget to add the appropriate info for the registry key for debugging languages to the wiki.

[2015-03-11 17:07] bleskows commented on #18
@KristinaTaylor Just verified, createSubprojects option is not available in the Create Archive dialog that is opened on add. However, this is naturally configurable through si viewprefs. So as per our discussion, it makes sense to leave that option to the user's prefs? If so, then this can be verified using [1.0.89.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.89.0) or later

[2015-03-11 19:07] bleskows commented on #18
Can be verified using [1.0.89.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.89.0) or later

[2015-03-12 14:50] flemingg commented on #75
:ballot_box_with_check: Re-establish dependent libraries (Resizeable, Lexer, Graph, Spell and Async).
:ballot_box_with_check: Create dialog layout for “SI Commit” (resource).
:black_large_square: Re-establish TortoiseSIProc command framework (main app):
  &nbsp;&nbsp; :ballot_box_with_check: Write code for “SI Commit” command (creates SI Commit window).
&nbsp;&nbsp; :black_large_square: Pair-down

[2015-03-12 15:16] KristinaTaylor opened #84 "Check out and Lock gestures should be using :working instead of the default :member"

[2015-03-12 15:19] KristinaTaylor opened #85 "Create sandbox gesture should not launch the sandbox view"
This is controlled by the [no]openView option (aka View sandbox After Creation).

[2015-03-12 15:20] #57 closed, assigned to bleskowskyPTC

[2015-03-12 15:21] #72 closed, assigned to atusek

[2015-03-12 15:22] #35 closed, assigned to bleskowskyPTC

[2015-03-12 15:30] KristinaTaylor commented on #58
Reviewed during sprint review.

[2015-03-12 15:30] #58 closed, assigned to bleskowskyPTC

[2015-03-12 15:46] KristinaTaylor opened #86 "Update languages installer to fix overlapping text in banner"
Split from issue #59.

![screenshot](https://cloud.githubusercontent.com/assets/6186615/6528154/19480d26-c3ee-11e4-8e7a-ce4158d258a6.png)

Fixing this issue will likely involve adding a custom wix ui, similar to the main installer project.

[2015-03-12 19:07] KristinaTaylor opened #87 "Update TortoiseSI context menu name"
The TortoiseSI context menu is actually showing as "Tortoise SI"

This should be all one word, like it is in the installer and under Programs & Features.

[2015-03-13 18:25] atusek commented on #59
Info regarding registry key has been added to the wiki.

[2015-03-13 19:02] KristinaTaylor commented on #59
Reviewed during sprint review - actual localization will be formally tested when we have translations.

[2015-03-13 19:02] #59 closed, assigned to atusek

[2015-03-13 19:17] bleskows commented on #84
For lock I can see this making sense, since the LockDialog assumes that we are locking :member. Now for checkout, passing --revision=:working as an option just means we set the value in Pre-Defined Revision to "Working" as opposed to "Member". Given that this can be changed in the checkout dialog by the user anyway, is the intent here to default a TortoiseSI checkout to :working since the user is

[2015-03-16 13:41] atusek commented on #86
@KristinaTaylor Right justifying the text still causes overlap with the banner icon:

![languageinstaller](https://cloud.githubusercontent.com/assets/6186615/6667009/8bb34ed8-cbbf-11e4-9d54-a2f3935d763c.jpg)

I suggest we remove the banner text altogether. I think there is enough information in the dialog for the  user to understand what it being installed. See below:

![languageinstaller_notitle]

[2015-03-16 13:43] KristinaTaylor commented on #86
Agreed. I think this will look much cleaner.

[2015-03-16 13:43] atusek commented on #86
OK...I will make the change.

[2015-03-16 13:44] KristinaTaylor commented on #84
These both should be defaulting to :working. The user is, as you say, expecting to work with whatever happens to be in their sandbox.

[2015-03-16 20:39] bleskows commented on #84
Can be verified using build [1.0.99.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.99.0) or later.

[2015-03-18 19:35] bleskows commented on #83
Had this discussion with @KristinaTaylor and @atusek but it was observed that if the gesture verb is "Rename", the shell will make a call to the WinAPI rename and not even go through our code. TortoiseGit avoided this problem because their gesture is "Rename...". Should we follow this pattern?
Note, for consistency this would also mean we would change other resource strings. @KristinaTaylor, shoul

[2015-03-18 19:45] KristinaTaylor commented on #83
I agree. Add the "..." to the file-based operations: anything that will pop up a dialog before proceeding with an action.

[2015-03-18 19:49] bleskows commented on #83
Based on the above, strings for the following ops will be affected:
- Add
- Check Out
- Check In
- Drop
- Lock
- Revert
- Move
- Rename

[2015-03-18 19:55] KristinaTaylor commented on #83
:+1:

[2015-03-18 20:14] bleskows commented on #85
Can be verified with build [1.0.101.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.101.0) or later

[2015-03-19 13:14] atusek commented on #10
Including email trail discussion around this issue:

---

From: Taylor, Kristina
Sent: March-17-15 11:51 AM
To: Leskowsky, Blaise; Tusek, Andrej; Fleming, Gordon
Cc: Reid, Randall
Subject: RE: Need to talk to Gilad about this "workaround"

I think I’m ok with the fix being to remove the code, based on what I’m seeing below.

CC’ing Randall for his awareness of the issue/resolution.

Thank you for

[2015-03-19 13:29] bleskows commented on #83
Can be verified with build [1.0.105.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.105.0) or later

[2015-03-19 15:09] KristinaTaylor commented on #86
Reviewed during sprint review.

[2015-03-19 15:09] #86 closed, assigned to atusek

[2015-03-19 15:09] KristinaTaylor commented on #87
Reviewed during sprint review.

[2015-03-19 15:09] #87 closed, assigned to atusek

[2015-03-19 15:10] KristinaTaylor commented on #85
Reviewed during sprint review.

[2015-03-19 15:10] #85 closed, assigned to bleskowskyPTC

[2015-03-19 15:27] KristinaTaylor opened #94 "Callbacks for submit CP dialog"
Callbacks:
     :ballot_box_with_check: Initialization
     :ballot_box_with_check: Create CP
     :ballot_box_with_check: Submit CP
     :ballot_box_with_check:  Cancel
     :black_large_square: Write code for context menu "Create CP"

[2015-03-19 15:28] KristinaTaylor opened #95 "Server connection handling for Submit CP dialogs"

[2015-03-19 15:31] KristinaTaylor opened #96 "Handling Integrity Action/Response for wf changes"
Parse response from wf changes command, and display in submit CP dialog

[2015-03-19 15:33] KristinaTaylor commented on #75
Posted #94, #95, and #96 to split out some of the remaining work.

[2015-03-19 15:43] KristinaTaylor opened #97 "Add menu option to launch Working File Changes view"
Should be available on a sandbox selection.

[2015-03-19 15:51] KristinaTaylor opened #98 "Rename should be available on single select only"

[2015-03-19 18:13] bleskows commented on #36
Likely to require more research to ascertain if this is actually possible to do. TortoiseSVN had this functionality up until Windows XP, but now ColumnHandlers are not supported from Vista onwards: See [here](http://tortoisesvn.net/docs/release/TortoiseSVN_en/tsvn-dug-wcstatus.html#id663427) under the header "TortoiseSVN Columns In Windows Explorer". Microsoft documentation [here](https://msdn.mic

[2015-03-19 18:22] bleskows commented on #36
Looking into PropertyHandlers to see if these can provide the functionality

[2015-03-19 20:35] bleskows commented on #36
Not looking good. Brace yourselves for a lot of links to look through. As I stated above, IColumnProvider shell extension interface (the column handler) was removed as of Windows Vista (see [Wikipedia entry for features removed in Vista](http://en.wikipedia.org/wiki/List_of_features_removed_in_Windows_Vista#Windows_Explorer)).

"The IColumnProvider shell extension interface (column handler) has be

[2015-03-21 02:10] KristinaTaylor commented on #36
After some reading (thanks!), I think we should probably close this with "wontfix." Several reasons, some of which related to the fact that it doesn't look feasible. More importantly, the more I read, the less it seems like a good idea.

See, for instance, this [article about selfish views of performance](http://blogs.msdn.com/b/oldnewthing/archive/2005/03/11/394249.aspx).

If we load additional d

[2015-03-23 12:36] bleskows commented on #36
Agreed. The performance impact would be non-trivial. I know I came across this somewhere (would have to dig it up for a link), but even when the IColumnProvider was supported, Microsoft did not advise tying column values to network-type information (from a UX point of view, shell needs to be fast and should not be limited by the network), as a bad practice. TortoiseSVN/TortoiseGit did not have thi

[2015-03-23 14:34] bleskowskyPTC commented on #97
Can be verified with build [1.0.110.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.110.0) or later

[2015-03-23 14:35] bleskows commented on #97
Wrong issue :)

[2015-03-23 14:35] bleskows commented on #98
Can be verified with build [1.0.110.0](https://ci.appveyor.com/project/PTC-ALM/tortoisesi/build/1.0.110.0) or later

[2015-03-24 19:28] bleskows commented on #97
Sample command:
si si.WorkingFileChangesView --sandbox=<"sandbox"> -g. Minor note, only the GUI view is published; the command itself is mostly intended for internal use.

[2015-03-24 21:39] sharonzhao commented on #18
Using build 1.0.112.0, tested all 22 test cases that are in the heading 5 (File-based Operations) of test suite 1012724.

[2015-03-25 15:32] flemingg commented on #95
Server connection handling has been added to TortoiseSIProcApp.

[2015-03-25 15:34] flemingg commented on #94
Callbacks for initializing commit dialog, create cp, submit cp and cancel have been added to TortoiseSIProc SICommitDialog.

[2015-03-26 01:44] KristinaTaylor commented on #36
I think it's safe to say that we've answered this question.

[2015-03-26 01:44] #36 closed, assigned to nobody

[2015-03-26 15:02] KristinaTaylor commented on #18
Reviewed in demo.

[2015-03-26 15:02] #18 closed, assigned to bleskowskyPTC

[2015-03-26 15:10] KristinaTaylor commented on #97
This is now available - reviewed during sprint review. No test cases will be added, as this is a temporary solution as a way to allow users to submit changes in the 'alpha' version of this integration.

[2015-03-26 15:10] #97 closed, assigned to bleskowskyPTC

[2015-03-26 15:25] KristinaTaylor commented on #94
Closed off during sprint review - won't be tested independently.

[2015-03-26 15:25] #94 closed, assigned to flemingg

[2015-03-26 15:26] KristinaTaylor commented on #96
A separate issue will be posted to handle implementing the custom control to display these results. This will not be tested independently.

[2015-03-26 15:26] #96 closed, assigned to bleskowskyPTC

[2015-03-26 15:41] KristinaTaylor commented on #95
@flemingg is going to make an additional change here to trap exceptions if we're not connected when we think we are.

An additional issue will be posted to make connection handling more robust (listening to events from the client).

[2015-03-26 15:49] KristinaTaylor opened #107 "Add a control for the submit CP dialog that lists all of the working file changes"
-Grouped by change package, sortable within the grouping, and includes status & extension columns
-Add warning icon & view CP button
-Add create CP button.
-Add description text box
-Prepopulate description with change package template, if applicable
-Add sticky select check box. This includes the dynamic behaviour

[2015-03-26 15:56] KristinaTaylor opened #108 "Add status information to folders"
Folders should indicate whether any files within that folder has changes.

A couple of examples:
If all files within the folder are "in sync", the folder should show a green checkmark.
If some files within the folder are out of date, and there are no local changes, the folder should show the same icon used as files that need to be resynchronized.
If some files within the folder have local changes,

[2015-03-26 16:00] KristinaTaylor opened #109 "POT file for localization needs to be updated with all strings"
Update the PO template files with all strings that have been added up to this point.

Make sure that appropriate developer information is in the wiki for how to generate/update language files.

[2015-03-26 16:02] KristinaTaylor opened #110 "Add initial draft of user guide"

[2015-03-26 20:14] sharonzhao commented on #83
The testing of Move and Rename file-based operations has been covered by the testing of issue #18 using build 1.0.112.0.

This issue can be closed.

[2015-03-26 21:06] sharonzhao commented on #84
Lock and Checkout gesture uses --revision=:working. Verified with build 1.0.112.0.

This issue can be closed.

[2015-03-26 21:37] sharonzhao commented on #98
Verified using build 1.0.112.0: Rename is available on single select only.

This issue can be closed.

[2015-03-27 01:19] KristinaTaylor commented on #84
reviewed in sprint 8 review - closing

[2015-03-27 01:19] #84 closed, assigned to bleskowskyPTC

[2015-03-27 01:19] KristinaTaylor commented on #83
Reviewed in Sprint 8 & 9 reviews. Closing.

[2015-03-27 01:19] #83 closed, assigned to bleskowskyPTC

[2015-03-27 01:19] KristinaTaylor commented on #98
Reviewed in Sprint 9 review. Closing.

[2015-03-27 01:19] #98 closed, assigned to bleskowskyPTC

[2015-03-31 01:15] sharonzhao commented on #10
Using build 1.0.112.0, executed the online / offline test cases in section 6 (1032086) of TortoiseSI test suite (1012724).

[2015-03-31 11:39] KristinaTaylor commented on #10
This has been demonstrated several times - closing now that it's been verified. There are other connection handling changes that are coming in issue #95, but this is done, for now.

[2015-03-31 11:39] #10 closed, assigned to atusek

[2015-04-01 17:26] bleskows commented on #109
Will generate the template once alpha code tasks are completed. In the meantime, I will see what information is currently available under source-control for generating/updating po related files, and port relevant information to the wiki

[2015-04-01 18:49] bleskows opened #113 "Fix .gitignore file"
Debug configuration build adds the following paths that are currently not ignored:
/ext/scintilla/win32/Debug
/ext/scintilla/win32/x64/Debug
/src/Debug
/src/x64/Debug

A little annoying to have to revert these files before I commit after I build, so might as well add them to .gitignore.

[2015-04-07 15:30] bleskows commented on #9
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:30] bleskows commented on #10
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:30] bleskows commented on #16
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:31] bleskows commented on #18
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:31] bleskows commented on #31
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:31] bleskows commented on #32
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:32] bleskows commented on #35
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:32] bleskows commented on #42
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:32] bleskows commented on #59
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:32] bleskows commented on #83
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:33] bleskows commented on #84
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:33] bleskows commented on #17
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 15:34] bleskows commented on #30
Removed needs docs: documented in Alpha release User Guide

[2015-04-07 17:41] KristinaTaylor commented on #113
Build issue. Closing.

[2015-04-07 17:41] #113 closed, assigned to bleskowskyPTC

[2015-04-08 20:28] kevinpwatson commented on #110
The plan is to remove everything in the "doc" folder (old TortoiseGit docs), and replace it with a single HTML doc page for TortoiseSI.  There will also be an "images" and "css" folder to go along with the HTML page.

We should think about how to structure the doc folder so others could easily translate.  For translation, the HTML page and a couple images that display language would need to be tra

[2015-04-09 01:52] KristinaTaylor commented on #110
I like the first approach - I think it's simpler and lower maintenance, for now. If/when we decide we need separate images, we can always split those out in the future. I don't think we'd ever need different styles for different languages, but I can see how there may be a future benefit to different images (like screenshots, eventually).

[2015-04-09 18:49] sharonzhao commented on #17
Used the following test cases in test suite 1012724 to test the windows file properties pages with build 1.0.136.0:
1035664, 1035666, 1035668, 1035670, and 1035772

[2015-04-09 18:52] sharonzhao commented on #17
This issue cannot be closed until the renamed status bug is fixed and tested.

[2015-04-09 19:01] atusek commented on #17
@sharonzhao Latest pull request contains fix for this issue. Once it is merged it can be tested.

[2015-04-09 21:56] sharonzhao commented on #17
The following file properties are correctly shown on the TortoiseSI tab of the properties window of a defer renamed member file:
Member Revision   1.1
Working Revision   1.1
Working CP Id        1:1
Sandbox Name       c:/test/project.pj
Status                     Member | Renamed

Tested using build 1.0.138.0.

[2015-04-09 21:56] sharonzhao commented on #17
This issue can be closed now.

[2015-04-10 01:15] KristinaTaylor commented on #17
Reviewed. Closing.

[2015-04-10 01:15] #17 closed, assigned to atusek

[2015-04-10 18:43] KristinaTaylor opened #119 "Add Settings to manage registry keys"

[2015-04-10 18:44] KristinaTaylor commented on #95
Closing this issue - this will be tested when the submit changes dialog is complete. The server connection handling has been handled, here.

[2015-04-10 18:44] #95 closed, assigned to flemingg

[2015-04-10 18:46] KristinaTaylor commented on #75
From alpha-release readiness review session: it looks like this needs to be added to the build & the installer.

[2015-04-10 18:56] KristinaTaylor commented on #109
PO template generation is proving to be a challenge. There are a lot of strings (565) in the existing resource headers that aren't actually in use for TortoiseSI, but came over from TortoiseGit.

Offering new translations for existing languages may actually be more easily done as a manual contribution process, rather than being committed directly to the repository by translators.

[2015-04-13 12:46] bleskows commented on #109
Work that has been done:
Most information in /Languages/translations.txt has been ported to the wiki under [Localization page](https://github.com/PTC-ALM/TortoiseSI/wiki/Localization--%28help-wanted%29). Future revisions will be needed for this page regarding the contribution process for translators. In short, since we advise translators to use a tool like poEdit to generate translations and trans

[2015-04-13 14:48] kevinpwatson commented on #110
@KristinaTaylor  @cwarnerPTC

What should the name of the user doc be?

I've been thinking it should probably be something other than **index_en.html** in case there are other docs in the future.  It is currently checked in as **TortoiseSI for PTC Integrity User Guide - Alpha Release.html**.  That's a bit long and shouldn't really have spaces.

How about **TortoiseSIUserGuide_en.html**?

[2015-04-13 17:21] KristinaTaylor commented on #110
I'm good with TortoiseSIUserGuide_en.html.

[2015-04-15 12:49] KristinaTaylor commented on #74
Verified that build 1.0.149.0 includes the updated EULA text. There is no need for this to be a test case. Closing as a completed "build" issue.

[2015-04-15 12:49] #74 closed, assigned to KristinaTaylor

[2015-04-17 14:36] KristinaTaylor opened #126 "Submit CP Dialog should use TortoiseSI logo"
Currently, the submit CP dialog shows the PTC logo. We should be consistently using the TortoiseSI logo for TortoiseSI views & dialogs, even though some actions launch PTC Integrity Client UIs.

[2015-04-17 14:40] KristinaTaylor opened #127 "Submit CP gesture should be named "Submit Changes...""
The intention of the "Submit" gesture is to give the user an opportunity to review differences between their local environment and the current configuration of the project on the server. Ultimately, they will be submitting a single change package, but since this isn't a direct "Submit Change Package" action, I think it would be best to call this "Submit Changes..." instead of "Submit CP"

[2015-04-17 14:43] KristinaTaylor opened #128 "Submit Changes dialog throws an error if the Integrity Client is not connected to the Server"
If the user launches the submit CP action without having a pre-existing connection to the Integrity SCM server, they get this error:
![commandcancelledexception](https://cloud.githubusercontent.com/assets/10520385/7204203/5afaac94-e4ee-11e4-8c6b-be85ef636166.png)

I have my Integrity client preferences set to prompt for username and password. I'm not sure if this is specific to that configuration,

[2015-04-17 14:47] KristinaTaylor opened #129 "Submit changes dialog includes all open change packages in the CP drop down"
This drop down should only include the current user's open change packages.

From what I recall of the Integrity API for the "si viewcps" command:
If no filter is specified, the command returns only my open change packages.

If any filter is specified, such as "state:open", it is the filters that determine the list, which means that --filter="state:open" lists all open change packages. I suspect t

[2015-04-17 14:48] KristinaTaylor commented on #75
Closing this issue, as far as the Alpha release is concerned. The initial dialog is in build 155 and later.

Other issues cover completing the work for this dialog, and all bugs that have been found so far have been posted separately.

[2015-04-17 14:48] #75 closed, assigned to flemingg

[2015-04-17 14:55] KristinaTaylor commented on #30
This has been split into issues #75 and #107

[2015-04-17 14:55] #30 closed, assigned to flemingg

[2015-04-19 16:24] KristinaTaylor commented on #110
User guide is now available at https://ptc-alm.github.io/TortoiseSI/docs/alpha/TortoiseSIUserGuide_en.html

[2015-04-19 16:24] #110 closed, assigned to cwarnerPTC

[2015-05-21 07:53] maschuru opened #130 "Visual Studio Plugin"
Hi all,

I really like the approach of utilizing the tortoise "framework" to fill the gaps left in usability in Source Integrity.
Are there any plans to extend this idea to the Visual Studio Plugin?
The current implementation of the Visual Studio Integrity Plugin in a pain in the ***\* when it comes to managing solution shares.
A more "file and directory" centric approach might help a lot.

[2015-05-21 11:49] KristinaTaylor commented on #130
We would like to apply this model to other integrations, yes.

I see that you've contributed to the Integrity Jenkins integration in the past. Jenkins is the next one that we're currently looking at applying this development model to, since the current Jenkins integration is not actually supported by PTC directly. Visual Studio and Eclipse are others that the Integrity Product Management team has

[2015-05-21 11:49] #130 closed, assigned to nobody

[2015-06-01 13:14] EricBabe opened #133 "32bit installation"
Hi
I am eric from PTC Integriy ALM team.

From www.tortoisesi.org, there is only x64 version for download, but our customer system is 32 bit, so is there  32 bit version for installation?

Regards
Eric

[2015-06-03 17:29] KristinaTaylor commented on #133
Fixed by adding link to 32 bit installer to TortoiseSI homepage. No verification needed.

[2015-06-03 17:29] #133 closed, assigned to nobody

[2015-06-04 17:27] KristinaTaylor opened #135 "Need a usable way to remove filters from the ignore list"
Under issue #31 we added the ability to add things to the client's non-members file filter. We should expose a simple way to allow the user to remove things from this filter.

[2015-06-04 18:13] KristinaTaylor opened #136 "Provide a shortcut to "View my Change Packages""

[2015-06-04 18:15] KristinaTaylor opened #137 "Provide a shortcut to "View My Reviews""
Should show: si viewcps --myReviews -g

[2015-06-04 18:46] KristinaTaylor opened #138 "Provide a shortcut to resolve merge conflicts"
Users need a way to resolve merge conflicts. This should be exposed through the "si merge" command.

[2015-06-15 15:04] KristinaTaylor opened #141 "Allow user to configure menu shortcuts"
In tortoise SVN, it is possible for the user to configure the menu options to have some very frequently used operations appear directly in the windows explorer context menu, rather than be hidden one level deep under "TortoiseSVN"

Configuration Screen:
![tortoisecontextmenuconfiguration](https://cloud.githubusercontent.com/assets/10520385/8162924/369d1466-134e-11e5-992e-4675347c467a.png)

Resulti

[2015-06-15 15:22] KristinaTaylor commented on #141
Because the menu actions currently appear or disappear based on the status of the selected files, we have two options for how to implement this request:

1) Do this after we determine how to cache information in order to roll up status to folders for issue #108.

2) Make the menus that are configured by the user always available, even if they don't make sense based on the file or folder status. Fo

[2015-06-16 18:10] KristinaTaylor opened #142 "Correct icons not appearing when a user checks out/locks/modifies a file"

[2015-06-16 18:13] KristinaTaylor opened #143 "User incorrectly told that a sandbox can't be created"
Code which is checking whether or not any top level sandbox is an ancestor of the directory where the sandbox is being created is passing the parameters in the wrong order.
This is resulting in an erroneous result that prevents user from creating sandboxes.

[2015-06-29 18:06] KristinaTaylor commented on #136
The new menu item currently reads "View my Change Package." Can this be updated to "View my Change Packages"?

[2015-06-29 18:09] KristinaTaylor commented on #138
I think merge conflict resolution should only be available on files, rather than on folders. If possible, can we also make it only available if the file has the status of "marked for later merge"?

[2015-06-29 18:12] KristinaTaylor commented on #126
I currently can't get this gesture to work in build 168. There is no particular information available in my event viewer log. Is there some other information I could provide to help debug the problem?

[2015-07-02 17:28] krrish1008 commented on #126
Can you please upload a screen shot of what you get when you hit Submit CP.
It seems to work on my machine. not sure what is happening

[2015-07-03 14:37] KristinaTaylor commented on #126
My reported problem appears to be fixed in build 169. Thank you!

I also see the new icon, so I will close this issue once the pull request is merged. The icon change doesn't need a test case/regression test.

[2015-07-03 14:43] KristinaTaylor commented on #127
Verified in build 168. Removing needs verification and closing the issue.

@cwarnerPTC - can you update the docs to reflect this wording change?

[2015-07-03 14:43] #127 closed, assigned to krrish1008

[2015-07-03 15:12] KristinaTaylor commented on #126
Pull request is merged and fix is available in build 170. Closing the issue.

[2015-07-03 15:12] #126 closed, assigned to krrish1008

[2015-07-06 09:26] KristinaTaylor commented on #138
I just did a quick sanity check of this, and I was prompted for a sandbox when I tried to run the merge resolution, and Integrity tried to merge every member in the sandbox I chose, not just the one I had selected. Are we missing specifying the selection? When I run "si merge -g <file name>" I seem to get the results I would expect from this menu shortcut.

[2015-07-07 07:15] KristinaTaylor commented on #138
Sanity check on build 174 looks good. Thanks!

[2015-07-09 14:09] KristinaTaylor commented on #107
When we're working in this area again, we should also make this menu action only be available if the folder you have selected is "under source control." That means that it should only be enabled if the user has a sandbox in their selection, or a folder inside a sandbox in their selection.

[2015-08-04 18:21] KristinaTaylor opened #149 "Viewing TortoiseSI properties on folder throws an exception"
If you go to the TortoiseSI tab of the windows properties page, on a folder, you get the following error on Windows 2008 Server.

![crash](https://cloud.githubusercontent.com/assets/10520385/9068876/f491fe0a-3ab3-11e5-8648-22543e3baa4d.PNG)

On Windows 7, Explorer hangs.

[2015-08-04 18:27] KristinaTaylor commented on #107
After reviewing the mockup on issue #30 with a customer, they would prefer a paradigm similar to what's available in the Eclipse or Visual Studio integration for reviewing changes prior to submission. The submit changes dialog would show all of the changes in a specific change package (ie: the one selected in the drop down), then allow the user to switch the selected change package to see other ch

[2015-08-05 13:39] atusek commented on #149
@KristinaTaylor The properties page contains file properties. Shall the properties page be unavailable when a folder is selected?

![image](https://cloud.githubusercontent.com/assets/6186615/9086948/c7302728-3b55-11e5-83bc-e73ff395efb8.png)

[2015-08-05 14:02] KristinaTaylor commented on #149
I think it would be really useful to have it show at least the subproject's latest checkpoint and variant information, if applicable. If you use the Eclipse integration, take a look at what's available when you select a subproject in Eclipse, and go to properties (the Integrity tab, specifically).

[2015-08-06 13:56] #142 closed, assigned to krrish1008

[2015-08-07 12:56] atusek commented on #149
@KristinaTaylor This is how the folder properties page is shaping up. Any feedback?

 ![image](https://cloud.githubusercontent.com/assets/6186615/9136124/0c8b64bc-3ce2-11e5-8f31-8cd559edd6ec.png)

[2015-08-07 17:48] krrish1008 commented on #109
Update:
Unused strings from the resource.h from both TortoiseShell and TortoiseProc have been cleaned. the Make_Pot.bat has been updated (added the TortoiseShell.dll). The Tortoise.pot file have been updated with the TortoiseShell strings.
Now working on the TortoisProcLang. Added the DLL file in the batch file and have generated the POT file but some of the untracked string  were generated which

[2015-08-10 12:24] KristinaTaylor commented on #149
@atusek Looks great!

[2015-08-24 18:14] KristinaTaylor opened #153 "Add a shortcut for "View related Change Packages""
A customer has requested that TortoiseSI expose a gesture that launches a view that shows all change packages related to the project represented by the selected sandbox/subsandbox.

This can be done using a filter on the si viewcps command. The filters need to account for both the relevant project and the associated configuration - mainline or a variant.

[2015-09-03 15:38] KristinaTaylor opened #156 "Temporarily remove "Submit Changes" from the TortoiseSI menu"
Until issue #107 is complete (post-1.0 release), we need to remove the submit changes menu action from the menu, because it will be misleading for users.

[2015-09-03 17:55] KristinaTaylor opened #157 "Resync should be available on a folder"
Users would like the ability to select a sub-folder inside a sandbox, and resync recursively from that point down.

There should be a command available in the Working File API that takes a folder selection and converts to the appropriate combination of files and folders for the si resync command. As usual, please make sure that any command used directly in the TortoiseSI code is an API published c

[2015-09-03 17:58] atusek commented on #128
Deferred as per issue #156

[2015-09-03 18:04] KristinaTaylor opened #158 "Drop Subproject should be available for a folder corresponding to a subproject"
When a folder inside a sandbox is selected, the drop subproject menu should be enabled. This operation should fail if a folder was selected that does not correspond directly to a subproject.

As usual, please make sure that any command used directly in the TortoiseSI code (eg: si drop) is an API published command with ITF tests written.

[2015-09-03 18:45] KristinaTaylor opened #159 "Add a shortcut for "View my Locks""
Enablement should be the same as "View my Change Packages" or "View my Reviews" and this should be in that menu group as well.

This menu operation should have an icon related to locks - talk to me when you have some ideas for us to choose from. We should take this opportunity to reconsider the icons chosen for "View my Change Packages" and "View my Reviews" too - is there anything more appropriat

[2015-09-03 19:44] KristinaTaylor opened #160 "Provide a shortcut for "View Project Locks""
In Integrity 10.8, there is a command available to view all locks for a specific project configuration - mainline or a variant. If this command is run with a variant sandbox in context, it will show the locks in the development path for that sandbox. If it's run with a normal sandbox in context, it will show the locks in the mainline.

This should be exposed in the TortoiseSI integration, but not

[2015-09-03 20:13] KristinaTaylor opened #161 "Provide a shortcut for "View Project History""
The command to run this view should use the sandbox to provide the context, so that the view has the appropriate checkpoint highlighted, and the appropriate context for any commands launched from this view.

[2015-09-03 20:16] KristinaTaylor opened #162 "Provide a shortcut for "View Project Differences""
This shortcut should run the si mods command with the sandbox providing the context. The resulting view will show the changes since the last checkpoint.

Note: If a user would like to see changes between two specific checkpoints, they should first launch the project history, select the two checkpoints, then run the project differences command.

[2015-09-04 13:01] atusek opened #163 "Error appears after client process dies and folder is refreshed"
Error appears when user opens sandbox folder in Windows Explorer containing multiple files and kills client. Refreshing the folder (F5) causes this error to appear along with an Integrity login dialog:

![image](https://cloud.githubusercontent.com/assets/6186615/9684039/ee32b7e2-52e2-11e5-946b-2dc5335269d1.png)

[2015-09-10 12:16] cwarnerPTC commented on #161
Integrity Command = si viewprojecthistory. Does not appear to be a published command.

[2015-09-10 12:20] cwarnerPTC commented on #153
The si viewcps command does not appear to be a published command.

[2015-09-10 14:10] cwarnerPTC commented on #162
I believe that the Integrity command for this is si mods, and it doesn't appear to be a published command.

[2015-09-10 14:11] cwarnerPTC commented on #159
I believe the Integrity command for this is si locks --locker=[your own username]. The si locks command is a published command.

[2015-09-10 14:55] KristinaTaylor commented on #162
I think this being a non-API published command is fine in this case, actually. Since we're going to be just running the command with a -g, and not processing output from the command via the API, it can still be used in this integration. It is documented for use from the CLI, which is essentially what we're doing.

[2015-09-10 14:56] KristinaTaylor commented on #153
As I mentioned in #162 I think using a non-published command in this case is fine.

[2015-09-10 14:56] KristinaTaylor commented on #161
As I mentioned in #162 I think using a non-published command in this case is fine.

[2015-09-11 17:19] atusek opened #164 "Connection error dialog doesn't include any text"
When a client connection cannot be made, an error dialog appears that does not contain any text.

![image](https://cloud.githubusercontent.com/assets/6186615/9821338/a95323f0-5887-11e5-8482-e0c76dc3db2e.png)

[2015-09-15 20:04] KristinaTaylor commented on #156
Closing as this appears to be complete.

[2015-09-15 20:04] #156 closed, assigned to krrish1008

[2015-09-17 14:47] sharonzhao commented on #129
Submit changes feature has been temporarily removed, so this issue can't be verified until the Submit changes menu is put back.

[2015-09-17 15:03] KristinaTaylor commented on #129
Good point. I've moved this to the post-1.0 milestone.

[2015-09-17 15:37] sharonzhao commented on #135
Verified with build #197 that remove filters from the ignore list works (test case 1067387 in TortoiseSI test suite 1012724).

This issue can be closed.

[2015-09-17 15:40] KristinaTaylor commented on #135
Closed based on testing notes above.

[2015-09-17 15:40] #135 closed, assigned to krrish1008

[2015-09-17 16:04] sharonzhao commented on #136
Verified with build #197. Executed test case 1065691 in TortoiseSI test suite (1012724) and verified the "View My Change Packages" shortcut worked correctly - it displayed all the active change packages of the current user.

This issue can be closed.

[2015-09-17 17:10] KristinaTaylor commented on #136
Closing based on testing notes above.

[2015-09-17 17:10] #136 closed, assigned to krrish1008

[2015-09-17 19:10] sharonzhao commented on #137
"View My Reviews" is not working currently.

After talking with Krishaan, I confirmed that he knows how this was broken. He'll fix it soon and create a pull request. This issue will be verified once the fix is in the build.

[2015-09-17 19:35] sharonzhao commented on #143
Sandbox can be created properly in the applicable locations. No error occurred. Executed all create sandbox test cases under the heading "Basic Sandbox Operations" (1019608 in TortoiseSI test suite).

Tested the issue with build 197.

[2015-09-17 19:35] sharonzhao commented on #143
This issue can be closed.

[2015-09-17 19:50] KristinaTaylor commented on #143
Closing per testing notes above.

[2015-09-17 19:50] #143 closed, assigned to krrish1008

[2015-09-17 19:59] atusek commented on #164
![tortoisesicommunicationerror](https://cloud.githubusercontent.com/assets/6186615/9944387/042ee0c6-5d55-11e5-938a-440f5e281525.jpg)

[2015-09-17 19:59] KristinaTaylor commented on #164
That looks great!

[2015-09-17 20:46] atusek commented on #41
If an Integrity client cannot be found in the PATH, the TortoiseSI context menu does not appear.

However, if the Integrity client is uninstalled after TortoiseSI has been loaded in the explorer.exe process space, the context menu will continue to appear until the explorer.exe process is restarted (manually or via a reboot). If the user attempts an operation, a client communication error will appe

[2015-09-17 21:10] sharonzhao commented on #149
Added test case 1087472 in TortoiseSI test suite to test this issue. Verified with build 197 that viewing TortoiseSI properties on folder did not throw exception, and folder properties were displayed correctly.

This issue can be closed.

[2015-09-18 02:21] KristinaTaylor commented on #149
Closing as per testing notes above.

[2015-09-18 02:21] #149 closed, assigned to atusek

[2015-09-18 12:10] sharonzhao commented on #137
When the menu item "View My Reviews" is selected, all of the user's Change package reviews are shown. (1065700 in TortoiseSI test suite).

Tested the issue with build 205.

[2015-09-18 12:11] sharonzhao commented on #137
This issue can be closed.

[2015-09-18 13:39] atusek commented on #137
Closing as per test notes.

[2015-09-18 13:40] #137 closed, assigned to krrish1008

[2015-09-18 18:19] sharonzhao commented on #138
Merge Conflicts is working properly. Executed test case 1065722 in TortoiseSI test suite. Verified on build 205.

This issue can be closed.

[2015-09-18 20:53] sharonzhao commented on #164
Added test case 1087804 in TortoiseSI test suite to test this issue. Verified on build 205 that connection error dialog appears when a client connection cannot be made, and the dialog contains the correct text.

This issue can be closed.

[2015-09-21 11:32] KristinaTaylor commented on #164
Closing per testing notes above.

[2015-09-21 11:32] #164 closed, assigned to atusek

[2015-09-21 11:33] KristinaTaylor commented on #138
Closing per testing notes above.

[2015-09-21 11:33] #138 closed, assigned to krrish1008

[2015-09-21 13:04] sharonzhao commented on #163
Added test case 1087716 in TortoiseSI test suite to test this issue. Verified on build 205 that error didn't appear after client process died and folder was refreshed.
This issue can be closed.

[2015-09-21 13:56] atusek commented on #163
Closing as per test notes above.

[2015-09-21 13:56] #163 closed, assigned to atusek

[2015-09-21 17:07] atusek commented on #159
There is an API call to retrieve the user name from a the response object:

mksrtn  mksResponseGetConnectionUsername (const mksResponse res, wchar_t *buf, size_t len)
    Function used to retrieve the username for the application connection.

This can be used to retrieve the locks belonging to the specific user as mentioned above - si locks -g --locker=[username]. An initial command will have to b

[2015-09-22 20:18] atusek commented on #109
The additional strings appearing in the POT file are originating from the TortoiseSIProc project. The source of these additional resources are as follows:

• Unused dialogs from the TortoiseSIProc project inherited from TortoiseGit
• Include files in TortoiseProc.rc2 that include additional strings not currently in use (TortoiseLoglistCommon.rc2)
• Dependence on MFC framework whose resources are i

[2015-09-22 20:20] atusek commented on #107
Ensure POT files are properly cleaned and updated as part of implementation. See #109.

[2015-09-22 20:21] atusek commented on #129
Ensure POT files are properly cleaned and updated as part of implementation. See #109.

[2015-09-22 20:21] atusek commented on #128
Ensure POT files are properly cleaned and updated as part of implementation. See #109.

[2015-09-23 17:33] KristinaTaylor commented on #109
Remaining work has been moved to the post 1.0 milestone.

[2015-09-24 03:00] sharonzhao commented on #41
Verified on build 210 that the Integration gracefully handled the situation where there is no Integrity client found in the PATH.

This issue can be closed.

[2015-09-24 11:42] KristinaTaylor commented on #41
Closing based on testing notes above.

[2015-09-24 11:42] #41 closed, assigned to atusek

[2015-09-29 13:46] sharonzhao commented on #153
Added test case 1088802 in TortoiseSI test suite to test this issue. Verified on build 216 that "View Related Change Packages" worked properly.

This issue can be closed.

[2015-09-29 15:21] sharonzhao commented on #159
Added test case 1088863 in TortoiseSI test suite to test this issue. Verified on build 216 that "View My Locks" worked properly.

This issue can be closed.

[2015-09-29 18:00] KristinaTaylor commented on #153
Closing as per testing notes above.

[2015-09-29 18:00] #153 closed, assigned to krrish1008

[2015-09-29 18:00] KristinaTaylor commented on #159
Closing per testing notes.

[2015-09-29 18:00] #159 closed, assigned to krrish1008

[2015-09-29 19:43] sharonzhao commented on #161
Added test case 1088896 in TortoiseSI test suite to test this issue. Verified on build 216 that "View Project History" worked properly.

This issue can be closed.

[2015-09-29 20:06] sharonzhao commented on #162
Added test case 1088898 in TortoiseSI test suite to test this issue. Verified on build 216 that "View Project Differences" worked properly.

This issue can be closed.

[2015-09-29 21:00] sharonzhao commented on #157
Added test case 1088907 in TortoiseSI test suite to test this issue. Verified on build 216 that Resynchronize was available on a folder and was working properly.

This issue can be closed.

[2015-09-30 11:58] atusek commented on #157
Closing as per test notes above.

[2015-09-30 11:58] #157 closed, assigned to atusek

[2015-09-30 11:58] atusek commented on #162
Closing as per test notes above.

[2015-09-30 11:58] #162 closed, assigned to krrish1008

[2015-09-30 11:59] atusek commented on #161
Closing as per test notes above.

[2015-09-30 11:59] #161 closed, assigned to krrish1008

[2015-10-01 20:39] sharonzhao commented on #158
Added test cases 1088950 and 1088952 in TortoiseSI test suite to test this issue. Verified on build 222 that Drop Sub-Project is available for a folder corresponding to a subproject, and the subproject is dropped successfully.

However, whenever I clicked on a folder which does not correspond to a subproject, I got the following error:
![sandboxinfo error right clicking on folders in windows explo

[2015-10-05 22:47] sharonzhao commented on #158
The above error didn't occur anymore when a folder which does not correspond to a subproject was clicked. Verified on build 225.

This issue can be closed.

[2015-10-06 11:15] KristinaTaylor commented on #158
Closing based on testing notes.

[2015-10-06 11:15] #158 closed, assigned to krrish1008

[2015-10-14 12:33] KristinaTaylor opened #178 "Make menu names consistent"
Remove "View" from the project & change package related menu options to make them consistent with the naming of the file/member "view" operations.

[2015-10-14 19:40] krrish1008 opened #180 "Error message shows up when right clicked on a folder inside a sandbox"
When there is no connection to the server, both of the following error shows up when right clicked on a folder in a sandbox directory

![error1](https://cloud.githubusercontent.com/assets/8945681/10495385/971d75e8-7289-11e5-90be-cf2df13b8b1e.PNG)
![error2](https://cloud.githubusercontent.com/assets/8945681/10495387/9b043228-7289-11e5-882e-a652a798fcfa.PNG)

[2015-10-16 15:09] sharonzhao commented on #178
Tested on build 230 that the "View" prefixes have been removed.

This issue can be closed.

[2015-10-16 15:10] KristinaTaylor commented on #178
Closing per testing notes.

[2015-10-16 15:10] #178 closed, assigned to krrish1008

[2015-10-16 15:13] sharonzhao commented on #180
Tested on build 230 that the error didn't occur anymore when right clicked on a folder inside a sandbox directory without client connection .

This issue can be closed.

[2015-10-16 15:16] KristinaTaylor commented on #180
Closing per testing notes.

[2015-10-16 15:16] #180 closed, assigned to krrish1008

[2015-11-06 13:42] KristinaTaylor opened #185 "Resynchronize on a folder does not work as expected"
When a user selects a folder in windows explorer and chooses TortoiseSI -> Resynchronize, the contents of the folder are not resynchronized.

It looks as if "si resync -sandbox <path>" is executed in this scenario, and silently errors without giving the user an option to recurse into the folder. The correct command execution will have to be investigated and arguments/command updated (possibly --cw

[2015-11-06 15:32] krrish1008 commented on #185
The "--sandbox" command option would have worked but in the MenuInfo where the sandbox name was being passed, there it was returning an empty string for the sandbox which avaided the action to even execute. when i tried to get the sandbox name initialized correctly, it worked. but i have still changed it to "--cwd" command option as its more efficient.

[2015-11-06 18:48] KristinaTaylor opened #187 "Add the ability to add members recursively with a folder selected"
Users would like to have an add member operation available when a folder is selected. This would be enabled for any folder, and allow the user to choose whether to recurse or not, using the existing Integrity client behaviour. The Integrity client should handle picking up non-members correctly.

Technical review from request: Current "Add Member" action is exposed only on members. An update would

[2015-11-09 12:39] KristinaTaylor opened #188 "Re-order menu actions for consistency"
File:

[code]

Folder:

[code]

This is from RFC 1096614

[2015-11-19 04:34] sharonzhao commented on #185
Resynchronize on a folder is working properly. It resynchronizes everything in the folder. Tested with build 240.

This issue can be closed.

[2015-11-24 14:08] KristinaTaylor commented on #185
Closing per testing notes. This will be included in the 1.1 release, when it's ready.

[2015-11-24 14:08] #185 closed, assigned to krrish1008

[2015-11-25 14:06] KristinaTaylor opened #189 "Update version numbers to 1.1"

[2015-11-30 14:00] KristinaTaylor opened #190 "Merge Conflict function does not work as expected"
The command being used in TortoiseSI to resolve merges needs to be changed. It's not working as expected.

The integration should be running:
si merge --resolve "member name"

This maps to RFC 1096570.

[2015-12-03 12:47] KristinaTaylor commented on #189
@atusek - any chance you could add details here as to where things should be updated, so this could potentially be picked up by anyone?

[2015-12-03 14:33] atusek commented on #189
The WixSetup project contains a VersionNumberInclude.wxi file which specifies major and minor versions. An update to the MinorVersion would be required.

[2015-12-09 14:26] KristinaTaylor commented on #190
Closing based on the testing note from @sharonzhao on the pull request: "Tested with build 241 using test case 1107449. "Merge Conflicts" successfully resolves conflicts of the members.

This issue can be closed."

[2015-12-09 14:26] #190 closed, assigned to krrish1008

[2016-02-16 07:50] lordyavin opened #194 "Overlay Icons like in any other Tortoise VCS client"
Please provide overlay icons to decorate files and folders in a sandbox. This is a common and the most useful feature of an explorer extension.

<img src="https://tortoisesvn.net/assets/img/Overlays.65cd6215.png" />

[2016-02-16 08:43] lordyavin commented on #194
It works. Don't know why I didn't see the icons.

[2016-02-16 08:43] #194 closed, assigned to nobody

[2016-02-16 12:39] KristinaTaylor commented on #194
There are a number of reasons why they might not appear, but the most common is that Windows just hasn't repainted the files. The simplest way to force Windows to repaint them is to reboot. :)

[2016-02-19 07:05] lordyavin opened #195 "Replace all "SVN" texts with "SI""
Some Dialogs still show text that contains "SVN". Please replace all "SVN" with "SI". BTW: What das SI mean?

[2016-02-19 13:04] KristinaTaylor commented on #195
Could you please post any specific examples? This project was forked from TortoiseGit, which was forked from TortoiseSVN, which was forked from TortoiseCVS, so the code has a long legacy. Many dialogs and much of the code that exists in the project hasn't been exposed in the TortoiseSI menus and commands. We should definitely clean up any that are exposed, though.

SI is the command line interface

[2016-02-25 08:15] lordyavin commented on #195
Damn, I can't find the dialog again. Sorry

[2016-02-25 12:45] KristinaTaylor commented on #195
No problem! I'll close this for now, but feel free to re-open or create a new one when you have details.

[2016-02-25 12:45] #195 closed, assigned to nobody

[2017-03-06 12:05] nshige opened #197 "Please tell me about TortoiseSI User Guide."
The version of the Installer of shown TortoiseSI is "1.0.230.0".
In contrast, the TortoiseSI User Guide is listed with "TortoiseSI 1.0".
Because a version does not accord with an Installer in User Guides, I do not know whether a User Guide is equivalent to TortoiseSI of which version.

In addition, a right-click menu does not accord with the function of the TortoiseSI User Guide.
For example, I am

[2017-03-15 07:55] vichavan-PTC commented on #197
The user guide belongs to the same installer version 1.0.230.0.  If the numbering is causing confusion, we will update the user guide to reflect the latest installer version.

Regarding 'Resynchronize a Folder', please note that 'Resynchronize a Folder' is the Member operation (as indicated in the column header) and 'Resynchronize' is the actual command. Refer last column in the same table which d

[2017-03-17 00:50] nshige commented on #197
Thank you for an answer.
I understood the contents which had you reply it.

In addition, I had you list a detailed version in TortoiseSI user guide and was saved very much.

I was able to cancel an ignorance point.
This Issue closes it.

[2017-03-17 00:50] #197 closed, assigned to nobody

[2017-03-17 01:17] nshige opened #198 "Please tell me the public timing of the TortoiseSI installer."
The installer of the URL is the recognition called the latest installer as follows.
<https://ptc-alm.github.io/TortoiseSI/>

On the other hand, with the cord of GitHub, the version that is newer than an installer seems to be released.
Therefore it is a question, but please show me it what kind of timing the installer of TortoiseSI is shown in.
I think that it is either following.
　①The version of

[2017-03-17 08:27] nshige opened #199 "Please tell me the version of Windows that TortoiseSI supports."
A version of Windows for the support is not written to TortoiseSI user guide.
I want to know the version of Windows that TortoiseSI supports.
Therefore please tell me the version of Windows that TortoiseSI supports.

I installed TortoiseSI in Windows7 and Windows10.
a blue plus sign is displayed in Windows7 by the member who added it.
However, a red exclamation mark icon is displayed in Windows10

[2017-03-22 06:36] nshige opened #200 ""Drop Sub-Project" command is not written in the TortoiseSI user guide."
"Drop Sub-Project" command which is not written in the TortoiseSI user guide is displayed in the right-click menu of the folder.
Since the "Drop Sub-Project" command works, please describe it in the TortoiseSI user guide.

[2017-03-22 08:10] nshige opened #201 ""View Sandbox" and "Related Change Packages" are not displayed when files are selected."
In the TortoiseSI user guide's "View Sandbox", it says "Select a file or a folder in a project." And I believe that you can use "View Sandbox" with files selected.
However, "View Sandbox" will not be displayed even if you right-click with the file selected.

Likewise, "Related Change Packages" is also written as "Select a file, folder, or subfolder in a project." In the TortoiseSI user guide.
Howe

[2017-03-27 09:21] nshige opened #202 "Please tell me the behavior of the overlay icon."
Overlay icons are recognized as 15, due to Windows registry restrictions.
When the number of registered overlay icons exceeds 15,
Is it okay to recognize that the TortoiseSI overlay icon is not displayed?

TortoiseSVN recognizes that overlay icons of other applications will be prioritized when the number of registered overlay icons exceeds 15.
Is TortoiseSI overlay icon behavior the same as Tortoi

[2017-03-29 06:34] nshige commented on #202
If the icon overlay exceeds 15, what kind of priority will the TortoiseSI icons be displayed?
Especially, please tell me the behavior of the part where "Limited File Icon Overlay Subset" of TortoiseSI user guide is "N / A".

"ShellIconOverlayIdentifiers" Is it displayed with the priority of 1 to 9 registered in the registry?
Or are you deciding the display priority of overlay icon with TortoiseSI?

[2017-03-31 08:05] vichavan-PTC commented on #199
Yes, you are right, TortoiseSI is not supported on Windows 10. We will update the documentation to explicitly mention that.

[2017-03-31 11:12] nshige commented on #199
Do you plan to support Windows 10?
Please let me know when Windows 10 will be supported.

[2017-04-05 08:54] nshige opened #203 "Please tell me about the behavior of the folder icon."
I have confirmed the operation with Windows 7, Integrity 10.9, TortoiseSI Ver 1.0.230.0.
Immediately after creating a new folder on Windows Explorer, a green check icon will be displayed in that folder.
According to the TortoiseSI user guide I think that it is a condition to become a blue + icon.

Also, if I do "Drop Sub-Projecct" for a folder, it will not be a red × icon,
It remains a green check

[2017-04-07 09:25] vichavan-PTC commented on #201
The user guide seems to be updated incorrectly. This implementation was not complete and not available for File (Members). The user documentation will be updated soon.

[2017-04-07 09:25] #201 closed, assigned to nobody

[2017-04-07 09:29] vichavan-PTC commented on #202
The overlay icon behaviour is basically driven by the Windows, so all restrictions applied by Windows are valid here.
Refer Notes section in user documentation for icon overlays - In cases where other file system-based integrations limit the number of icon overlays available to TortoiseSI, a limited subset of icons appear instead, as defined in Limited Icon Overlay Subset column in the Integrity M

[2017-04-08 09:47] vichavan-PTC commented on #199
We would definitely like to update the support to Windows 10, but we cannot plan it in the next one year as we have other priorities. Since this is an open source project, we would like to see contribution from outside of PTC though to help expand this support.

[2017-04-08 09:48] vichavan-PTC commented on #198
If I understand your concern correctly, you are trying to compare the TortoiseSI build with the builds available in appveyor? If that is the case, then the TortoiseSI build which is mention in the user documentation is the latest one (1.0.230.0) The builds in appveyor are development builds, you should ignore it.

[2017-04-10 10:10] #199 closed, assigned to nobody

[2017-04-10 10:34] vichavan-PTC commented on #200
The documentation will be updated.

[2017-04-10 10:34] #200 closed, assigned to nobody

[2017-04-18 03:35] vichavan-PTC commented on #203
You are right, issue 108 is still Open. We have not fixed it.

Also refer comments in Issue#108 - If you would like to contribute to the design of this feature, please feel free to comment here, or in the PTC user community, at: https://www.ptcusercommunity.com/thread/124495

[2017-04-18 03:35] #203 closed, assigned to nobody

[2017-04-18 03:35] #198 closed, assigned to nobody

[2017-04-18 03:36] #202 closed, assigned to nobody

[2017-04-24 08:43] nshige commented on #201
Please correct TortoiseSI user guide.

After adding a pull request or modifying the document, I want you to close Issue.
If you do not do it, I do not understand Issue's correspondence situation.

[2017-04-24 08:44] nshige commented on #200
Please correct TortoiseSI user guide.

After adding a pull request or modifying the document, I want you to close Issue.
If you do not do it, I do not understand Issue's correspondence situation.

[2017-04-24 09:54] nshige opened #204 "When is the new version of TortoiseSI installer available?"
It is about the answer of Issue # 198.
[https://github.com/PTC-ALM/TortoiseSI/issues/198](url)

I am watching GitHub's Releases.
GitHub's Releases have version 1.8.16.0 at 2017/4/24.

Also, since the following Issue is closed, I think that there is Ver1.1 source code.
[https://github.com/PTC-ALM/TortoiseSI/issues/185](url)

Therefore, I want to know the release timing of the new version of Tortois

[2017-04-24 10:00] nshige opened #205 "Please correct TortoiseSI user guide."
It is supposed to fix the document with the answer of Issue # 200, # 201.
[Https://github.com/PTC-ALM/TortoiseSI/issues/200](url)
[Https://github.com/PTC-ALM/TortoiseSI/issues/201](url)

Please correct TortoiseSI user guide.

[2017-04-24 10:01] nshige commented on #205
After adding a pull request or modifying the document, I want you to close Issue.
If you do not do it, I do not understand Issue's correspondence situation.

[2017-05-19 04:03] vichavan-PTC commented on #204
Hi, unfortunately, we have not planned the next release/version of TotoiseSI as yet. We will let you know once we plan for it. For now, the version mentioned in the documentation is the latest supported/release version by PTC.

[2017-06-01 10:32] PatrickMaechtlen opened #206 "Overlay Icons are not updating correctly"
After checking out / locking a file the icon overlay shows the correct symbol for "Locked Member". But once the file is modified, it should change to "Modified Member" to show that there are differences. This is not the case, the icon overlay only changes after the file was checked in again, displaying the "Member" overlay.

[2017-06-06 11:51] anuragsen commented on #205
Updated the user guide to resolve issue 200 and 201

[2017-06-06 11:51] #205 closed, assigned to nobody

[2017-09-01 07:05] nshige opened #207 ""Resynchronize by Change Package" is not displayed when one folder is selected."
Since "Resynchronize by Change Package" in the TortoiseSI user guide has the following description, we believe that "Resynchronize by Change Package" can be used with one folder selected.
· Select a folder in a project: All files and subfolders within the version-controlled folder are resynchronized.

In "Resynchronize by Change Package", it says "Select a folder in a project: All files and subfol

[2017-10-04 06:01] #204 closed, assigned to nobody

[2017-10-11 07:17] nwaghmare commented on #206
It is overlay icons issue which is controlled by Windows. In case of limited overlay icons we provide second priority icon also but in this case we don't have second priority icon. (as none other being logical) This has been already documented under section 'TortoiseSI Icon Overlays'.

[2017-10-13 08:20] anuragsen commented on #207
We will update the TortoiseSI user manual for this.

[2019-10-28 23:27] nathanpjones opened #208 "Explorer hangs on right click on slow connections"
It seems there's no timeout to whatever check TortoiseSI makes before displaying the right click menu. We have a slow connection to an Integrity instance in another part of the world and occasionally explorer will hang. After minutes pass the only solution is to kill and restart the explorer process.

Environment
- Windows 10 (10.0.15063 for me specifically)
- TortoiseSI 1.0.230.0 x64
- Integrity